.modal-content {
  border-radius: 3px;
}

.modal-header {
  border-bottom-color: #f4f4f4;
  background: rgba(44, 178, 179, 9);
  padding: 7px 15px;
  border-radius: 3px 3px 0px 0px;
}

.modal-header h5 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 0.4px;
}

.filterquotesrow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filterquotesrow .totalquotes {
  background-color: #2cb2b3;
  color: #fff;
  padding: 6px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.filterquotesrow .btninfo1 {
  background-color: #2cb2b3;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-bottom: 0px !important;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.filterquotesrow .btninfo1 a {
  color: #fff;
  font-size: 14px;
}

.filterquotesrow .btninfo1 a:focus,
.filterquotesrow .btninfo1:focus {
  border: none;
  box-shadow: none;
}

.filterquotesrow .btninfo1 a span {
  margin: 0 5px;
}

.no_data_found {
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}

.no_data_found span {
  display: block;
}

.no_data_found span img {
  max-width: 280px;
  width: 100%;
}

.no_data_found small {
  font-size: 24px;
  font-weight: 600;
  color: #00BCD4;
  margin-bottom: 25px;
}

.table-responsive {
  min-height: .01%;
  overflow-x: auto;
  background: white;
}

.no_data_found {
  font-size: 20px !important;
  color: #f64e60;
  font-weight: 700;
  min-height: 130px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom_table {
  margin-top: 15px;
}
.custom_table .responsive-table {
  margin: 0;
  padding: 15px 0px;
  border-radius: 5px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.custom_table .responsive-table li {
  border-radius: 5px;
  padding-top: 18px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.custom_table .responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 3px 9px 0px #00000045;
  border-left: 3px solid #ddd;
}

.custom_table .responsive-table .tablerow1 {
  border-color: #FD8A8A;
}

.custom_table .responsive-table .tablerow2 {
  border-color: #86C8BC;
}

.custom_table .responsive-table .tablerow3 {
  border-color: rgba(44, 178, 179, 1);
}

.custom_table .responsive-table .tablerow4 {
  border-color: #B8E8FC;
}

.custom_table .responsive-table .tablerow5 {
  border-color: #B1AFFF;
}

.custom_table .responsive-table .tablerow6 {
  border-color: #D2DAFF;
}

.custom_table .responsive-table .tablerow7 {
  border-color: #1572A1;
}

.custom_table .responsive-table .tablerow8 {
  border-color: #99FEFF;
}

.custom_table .responsive-table .tablerow9 {
  border-color: #6E85B7;
}

.custom_table .responsive-table .tablerow10 {
  border-color: #CE7BB0;
}

.custom_table .responsive-table .table-row .agents_data {
  display: flex;
}

.custom_table .responsive-table .table-row .agents_data .icon_re_cl {
  background: rgba(44, 178, 179, 1);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border: 1px solid;
}

.custom_table .responsive-table .table-row .agents_data .agent_name_mobile {
  padding-left: 15px;
}

.custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data {
  font-size: 14px;
  color: #909090;
}

.custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data .fs_18 {
  font-size: 14px !important;
}

.custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data div {
  font-size: 12px;
  color: #111;
}

.custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data strong {
  color: #039;
}

.custom_table .responsive-table .last_row {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  background: rgba(105, 4, 152, 0.05);
  padding: 4px 10px;
  border-radius: 0px 0px 5px 5px;
  flex-wrap: wrap;
}

.custom_table .responsive-table .last_row .effective_date {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  flex-wrap: wrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.custom_table .responsive-table .last_row .effective_date .date_text {
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom_table .responsive-table .last_row .effective_date .date_text:last-child {
  margin-right: 0px;
}

.custom_table .responsive-table .last_row .effective_date .date_text span {
  font-size: 12px !important;
  color: #6d6d6d;
  margin-right: 10px;
  font-weight: 600;
}

.custom_table .responsive-table .last_row .effective_date .date_text span:last-child {
  font-size: 18px !important;
  color: #039;
  margin-right: 0px;
  font-weight: 700;
}

.custom_table .responsive-table .action_btn button {
  display: flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  font-size: 11px !important;
  color: #333 !important;
  border-radius: 5px;
  font-weight: 800;
  letter-spacing: 0.5px;
  background: rgb(147 166 4 / 36%);
  border-radius: 3px;
  margin-left: 10px;
  border: none !important;
}

.custom_table .responsive-table .action_btn button.btnbg {
  background-color: #ff9800;
  color: #fff !important;
}
.custom_table .responsive-table .action_btn button.btnbg1 {
  background-color: #4caf50;
  color: #fff !important;
}
.custom_table .responsive-table .action_btn button.btnbg2 {
  background-color: #f44336;
  color: #fff !important;
}
.last_row_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #dfeaf000;
  padding: 5px 10px 10px 0px;
  flex-wrap: wrap;
  border-bottom: 0px;
}

.last_row .label_chips {
  flex-wrap: wrap;
}

.last_row_div .motor_lob {
  background-color: #ffbfbf73;
}

.last_row_div .non_motor_lob {
  background-color: rgba(44, 178, 179, 0.10);
}

.last_row_div .health_lob {
  background-color: rgba(165, 187, 0, .1);
}

.last_row_div .life_lob {
  background-color: #fda1c757;
}

.last_row_div .finance_lob {
  background-color: #ebabff73;
}
.last_row_div .label_chips.activestatuspos {
  background-color : #00a65a;
  color: #fff !important;
}
.last_row_div .label_chips.inactivestatuspos {
  background-color : #dc3545;
  color: #fff !important;
}
.last_row_div .label_chips.activestatuspos span,
.last_row_div .label_chips.inactivestatuspos span {
  color: #fff !important;
}
.last_row_div .mutual_fund_lob {
  background-color: #4c9cde61;
}

.last_row_div .real_estate_lob {
  background-color: #cdce127d;
}

.last_row_div .growth_negative {
  background-color: #f5081494;
}

.last_row_div .growth_positive {
  background-color: #09ae09f8;
}

.last_row_div .label_chips {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 10px;
  border-radius: 3px;
  margin-left: 10px;

}

.last_row_div .label_chips span {
  font-size: 12px;
  color: #343a40;
  cursor: default;
}

.last_row_div .city_chip {
  background-color: rgba(44, 178, 179, 0.10);
}

.table-row .agents_data.agents_data1 {
  width: 50%;
}

.table-row .agents_data.agents_data2 {
  width: 25%;
  padding-left: 0px;
}

.table-row .agents_data.agents_data2 .agent_name_mobile {
  padding-left: 0px;
}

.table-row .agents_data.agents_data3 {
  width: 25%;
}

.table-row .agents_data.agents_data3 .agent_name_mobile {
  text-align: right;
  width: 100%;
}

.custom_table .responsive-table .last_row .effective_date .date_text span.fs_12:last-child {
  font-size: 12px !important;
}

.custon-234 {
  width: 100%;
  position: relative;
}

.custon-234 .label_chips.city_chip {
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
  background-color: rgb(44 178 179);
}

.custon-234 .label_chips.city_chip span {
  color: #fff !important;
}
.statuslabelrow {
  position: absolute;
  top: -1px;
  right: 0px;
}
.statuslabelrow .label {
  padding: 3px 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 11px;
  display: inline-block;
  cursor: default !important;
}