/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.table td, .table th {
  padding: .75rem !important;
  vertical-align: top;
}
.table-bordered td, .table-bordered th {
  border: 1px solid #ecf0f3 !important;
}