<section class="inner_page_css fire_form_page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_card_form">
                    <div class="main_header">
                      <div class="header_title">Request For Quote Calculation Form 
                      </div>
                    </div>
                    <div class="products_list">
                        <div class="all_card_de all_card_custom">
                            <div class="main_card cs_card_width_auto_set" routerLink="/rfq/otc-Fire-Form/Fire">
                                <div class="main_card_body">
                                    <img alt="health" src="assets/image/product_icon/health.svg">
                                    <div  class="count_box">Fire</div>
                                </div>
                            </div>
                            <div class="main_card cs_card_width_auto_set" (click)="Open_New_Form('Marine')">
                                <div class="main_card_body">
                                    <img alt="health" src="assets/image/product_icon/home_marine_icon.svg">
                                    <div  class="count_box">Marine</div>
                                </div>
                            </div>
                            <div class="main_card cs_card_width_auto_set" (click)="Open_New_Form('CAR')">
                                <div class="main_card_body">
                                    <img alt="health" src="assets/image/product_icon/car.svg">
                                    <div  class="count_box">CAR</div>
                                </div>
                            </div>
                            <div class="main_card cs_card_width_auto_set" (click)="Open_New_Form('EAR')">
                                <div class="main_card_body">
                                    <img alt="health" src="assets/image/product_icon/health.svg">
                                    <div  class="count_box">EAR</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
