 	 
  <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Edit Pay-Out</h3>

          <div class="box-tools pull-right">
            
            <button type="button" (click)="CloseModel()" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
          </div>
        </div> 

<form [formGroup]="PayInForm" (ngSubmit)="AddPayIn()">   
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            
			
<div class="form-group row">		
		 
		<div class="col-lg-3">
			<label>Pay-In OD:</label>
			<input type="number" min="1" (keyup)="PayInOD($event)" formControlName="PayInOD" class="form-control"> 		 	   
			<span *ngIf="isSubmitted && FC.PayInOD.errors" class="form-text text-muted">
				<span *ngIf="FC.PayInOD.errors.required" style="color:red;">Please enter Pay-In OD !</span>
			</span>
			
		</div>
		
		<div class="col-lg-3">
			<label>Pay-Out OD:</label>
			<input type="number" min="1" formControlName="PayOutOD" class="form-control"> 	 	   
			<span *ngIf="isSubmitted && FC.PayOutOD.errors" class="form-text text-muted">
				<span *ngIf="FC.PayOutOD.errors.required" style="color:red;">Please enter Pay-Out OD !</span>
			</span>
			
		</div> 
		
		<div class="col-lg-3">
			<label>Pay-In TP:</label>
			<input type="number" min="1" (keyup)="PayInTP($event)" formControlName="PayInTP" class="form-control"> 		 	   
			<span *ngIf="isSubmitted && FC.PayInTP.errors" class="form-text text-muted">
				<span *ngIf="FC.PayInTP.errors.required" style="color:red;">Please enter Pay-In TP !</span>
			</span>
			
		</div>
		
		<div class="col-lg-3">
			<label>Pay-Out TP:</label>
			<input type="number" min="1" formControlName="PayOutTP" class="form-control"> 	 	   
			<span *ngIf="isSubmitted && FC.PayOutTP.errors" class="form-text text-muted">
				<span *ngIf="FC.PayOutTP.errors.required" style="color:red;">Please enter Pay-Out TP !</span>
			</span>
			
		</div>
		
		  
		
		
		 
	</div>


<div class="form-group row">
		 
		 	<div class="col-lg-3">
			<label>Pay-In Reward:</label>
			<input type="number" min="1" (keyup)="PayInReward($event)" formControlName="PayInReward" class="form-control"> 		 	   
			<span *ngIf="isSubmitted && FC.PayInReward.errors" class="form-text text-muted">
				<span *ngIf="FC.PayInReward.errors.required" style="color:red;">Please enter Pay-In Reward !</span>
			</span>
			
		</div>
		
		<div class="col-lg-3">
			<label>Pay-Out Reward:</label>
			<input type="number" min="1" formControlName="PayOutReward" class="form-control"> 	 	   
			<span *ngIf="isSubmitted && FC.PayOutReward.errors" class="form-text text-muted">
				<span *ngIf="FC.PayOutReward.errors.required" style="color:red;">Please enter Pay-Out Reward !</span>
			</span>
			
		</div>
	  
		<div class="col-lg-3">
			<label>Pay-In Scheme:</label>
			<input type="number" min="1" (keyup)="PayInScheme($event)" formControlName="PayInScheme" class="form-control"> 		 	   
			<span *ngIf="isSubmitted && FC.PayInScheme.errors" class="form-text text-muted">
				<span *ngIf="FC.PayInScheme.errors.required" style="color:red;">Please enter Pay-In Scheme !</span>
			</span>
			
		</div>
		
		<div class="col-lg-3">
			<label>Pay-Out Scheme:</label>
			<input type="number" min="1" formControlName="PayOutScheme" class="form-control"> 	 	   
			<span *ngIf="isSubmitted && FC.PayOutScheme.errors" class="form-text text-muted">
				<span *ngIf="FC.PayOutScheme.errors.required" style="color:red;">Please enter Pay-Out Scheme !</span>
			</span>
			
		</div>
		
	 
	 
		 
	</div>	
	
	</div>	
	</div>	
	 <div class="box-footer">
			<button type="button" (click)="CloseModel()" class="btn btn-default pull-right">Cancel</button>
			<button style="margin-right: 1%;" type="submit" class="btn btn-info pull-right">Update</button>
        </div>
</form>	

</div>