<section class="inner_page_css main_dashboard_css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_card_form">
                    <div class="main_header">
                        <div class="header_title">
                            <div>{{ModalShowDetail ?' Travel Details' : ModalShowClaim ? 'Claim Details' :'Travel
                                Management' }}
                            </div>

                        </div>
                    </div>

                    <div *ngIf="!hasAccess" class="error-message">
                        <div class="container" style="text-align: center;">
                            <img src="assets/Authorised.png" alt="">
                        </div>
                    </div>

                    <div>
                        <div class="main_body main_card_height_scroll_withoutfooter" *ngIf="hasAccess">


                            <div>
                                <div class="d_flex flex_End dsr-fillters" style="float: unset !important;">
                                    <button
                                        *ngIf="this.url_segment == 'travel-desk' || this.url_segment == 'account-desk'"
                                        class="btn btn-info1" role="tab" id="headingOne" data-toggle="collapse"
                                        data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        <a role="button" class="fa fa-filter"><span>Filters</span><i
                                                class="fa fa-angle-down pull-right"></i></a>
                                    </button>

                                    <button
                                        *ngIf="this.url_segment == 'employee' && !ModalShowDetail && !ModalShowClaim"
                                        class="btn btn-info1" routerLink="/travel_request/request">
                                        Raise Travel Request&nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </button>

                                </div>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panelbody">
                                    <form [formGroup]="RequestData" (ngSubmit)="SearchData()">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <label for="Request_type">Request Type</label>
                                                <ng-multiselect-dropdown class="form-control" [data]="Request_Type"
                                                    formControlName="Request_type" [settings]="dropdownSettingsType"
                                                    [(ngModel)]="Default_Request">
                                                </ng-multiselect-dropdown>
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="Request_type">Search</label>
                                                <input type="text" class="form-control" placeholder="Search"
                                                    formControlName="SearchVal">
                                            </div>
                                            <div class="col-sm-3" style="margin-top:24px;">
                                                <input type="submit" class="btn btn-info" value="Search"> &nbsp;&nbsp;
                                                <button (click)="ClearSearch()" type="button" class="btn btn-danger"
                                                    value="Reset"> <i class="fa fa-close"> </i> Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <hr>
                            <div class="box box-default"
                                style="margin-bottom: 10px !important; margin-top: 0px !important ;">
                                <div class="custom_table tables_layout_design">
                                    <table datatable [dtOptions]="dtOptions" class="row-border table" id="kt_datatable">
                                        <thead>
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>

                                    <!-- ======= Refer Table  =========-->
                                    <ul class="responsive-table">
                                        <li class="table-row" *ngFor="let row of dataAr; let i = index;">

                                            <p class="life_status_label">
                                                <span>

                                                    <a>
                                                        <span class="label" [ngClass]="{
                                                            'label-warning': (row.status_check == '1' && row.status != '2') ? true : 
                                                                            (row.status_check == '2' && row.status == '1') ? true : 
                                                                            (row.status_check == '3' && row.advance_requirement == 'Yes' && row.status == '1') ? true : 
                                                                            (row.status_check == '4' && row.advance_requirement == 'Yes' && row.status == '1' && row.status != '2') ? true : 
                                                                            (row.status == '2') ? true : false,
                                                            'label-danger': (row.status_check == '2' && row.status == '0') || 
                                                                            (row.status_check == '3' && row.status == '0') || 
                                                                            (row.status_check == '4' && row.status == '0' && row.advance_requirement == 'Yes') ? true : false,
                                                            'label-success': (row.status_check == '3' && row.advance_requirement == 'No' && row.status != '2') || 
                                                                            (row.status_check == '4' && row.advance_requirement == 'Yes' && row.status != '2') ? true : false
                                                        }">
                                                            {{
                                                            (row.status_check == '1' && row.status != '2') ? 'Pending
                                                            for RM' :
                                                            (row.status_check == '2' && row.status == '0') ? 'Rejected'
                                                            :
                                                            (row.status_check == '2' && row.status == '1') ? 'Pending
                                                            for Travel Desk' :
                                                            (row.status_check == '3' && row.status == '0') ? 'Rejected'
                                                            :
                                                            (row.status_check == '3' && row.advance_requirement == 'Yes'
                                                            && row.status == '1') ? 'Pending for Account Desk' :
                                                            (row.status_check == '3' && row.advance_requirement == 'No'
                                                            && row.status != '2') ? 'Approved' :
                                                            (row.status_check == '4' && row.advance_requirement == 'Yes'
                                                            && row.status == '1' && row.status != '2') ? 'Approved' :
                                                            (row.status_check == '4' && row.status == '0' &&
                                                            row.advance_requirement == 'Yes' && row.status != '2') ?
                                                            'Rejected' :
                                                            (row.status == '2') ? 'Sent Back' : ''
                                                            }}
                                                        </span>
                                                    </a>


                                                </span>
                                            </p>

                                            <div class="d_flex w_100 flex_Equal px_10  flex_colum_sm mt15">
                                                <div class="agents_data agents_data1">
                                                    <div class="icon_re_cl">{{ row.sr_no }}</div>
                                                    <div class="agent_name_mobile">
                                                        <div class="agent_data">
                                                            <strong class="fs_18 text-bold">{{row.employee_name}} -
                                                                {{row.employee_id}}</strong>
                                                        </div>
                                                        <strong>{{row.City_start}} - {{row.City_end}}</strong>
                                                    </div>

                                                    <div class="agent_name_mobile" style="margin-left: 100px;">
                                                        <div class="agent_data">
                                                            <strong>Purpose of visit - {{row.purpose_of_visit}}</strong>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="agent_name_mobile">
                                                    <div class="agent_data">
                                                        <strong>Travel Start Date - {{row.travel_start_date }}</strong>
                                                    </div>
                                                    <div class="agent_data">
                                                        <strong>Travel End Date - {{row.travel_end_date }}</strong>
                                                    </div>
                                                </div>

                                                <div class="agents_data agents_data3">
                                                    <div class="agent_name_mobile">
                                                        <div class="agent_data"
                                                            *ngIf="Default_Request[0].Id != 'Raise Request' || this.url_segment == 'employee' || this.url_segment == 'manager'">
                                                            <button type="button" class="btn btn-primary"
                                                                (click)="Get_logs(row.id,row.hotelDocument,row.travelDocument)"
                                                                data-toggle="modal" data-target="#logs">
                                                                View
                                                            </button>
                                                        </div>

                                                        <div class="agent_data"
                                                            *ngIf="Default_Request[0].Id == 'Raise Request' && (this.url_segment == 'travel-desk' || this.url_segment == 'account-desk')">
                                                            <button type="button" class="btn btn-primary"
                                                                (click)="Accept(row.id , 'Accepted')">
                                                                Accept
                                                            </button>
                                                        </div>
                                                        <div class="agent_data">
                                                            <button type="button" class="btn btn-success"
                                                                (click)="GetRequest_Details(row.id , 'Details' , 'View')">
                                                                Details
                                                            </button>
                                                        </div>

                                                        <div class="agent_data"
                                                            *ngIf="row.ClaimStatus == null && (this.url_segment == 'employee' || this.url_segment == 'travel-desk') && (row.status_check == '4' && row.advance_requirement == 'Yes' &&  row.status == '1' || row.status_check == '3' && row.advance_requirement == 'No' && row.status == '1')">
                                                            <!-- showRaiseClaim -->
                                                            <button type="button" class="btn btn-primary"
                                                                [routerLink]="['/travel_request/claim', row?.id]">
                                                                Raise Claim
                                                            </button>
                                                        </div>

                                                        <div class="agent_data"
                                                            *ngIf="row.ClaimStatus != null && this.url_segment == 'employee'">
                                                            <button type="button" class="btn btn-info"
                                                                (click)="GetRequest_Details(row.id , 'Claim' , 'View')">
                                                                View Claim
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="last_row_div">
                                                <div class="d_flex custon-234">
                                                    <div class="label_chips finance_lob" style="width: auto;">
                                                        <span>Request Id - {{row.travel_request_id}}</span>
                                                    </div>

                                                    <div class="label_chips non_motor_lob" style="width: auto;">
                                                        <span>Reporting Manager -
                                                            {{row.reporting_manager}}</span>&nbsp;&nbsp;
                                                    </div>

                                                    <div class="label_chips motor_lob" style="width: auto;">
                                                        <span>Profile - {{row.profile}}</span>&nbsp;&nbsp;
                                                    </div>

                                                    <div class="label_chips" [ngClass]="{
                                                        'label-warning': row.ClaimStatus == '0' || row.ClaimStatus == '1' || row.ClaimStatus == '2' || row.ClaimStatus == '3' || row.ClaimStatus == '9' || row.ClaimStatus == '10' || row.ClaimStatus == '11' || row.ClaimStatus == '12',
                                                        'label-success': row.ClaimStatus == '4',
                                                        'label-danger': row.ClaimStatus == '5' || row.ClaimStatus == '6' || row.ClaimStatus == '7' || row.ClaimStatus == '8'
                                                    }">
                                                        <span style="color: #fff;">
                                                            {{
                                                            row.ClaimStatus == '0' ? 'Claim Status : Pending For
                                                            Manager' :
                                                            row.ClaimStatus == '1' ? 'Claim Status : Pending For HOD' :
                                                            row.ClaimStatus == '2' ? 'Claim Status : Pending For Travel
                                                            Desk' :
                                                            row.ClaimStatus == '3' ? 'Claim Status : Pending For Account
                                                            Desk' :
                                                            row.ClaimStatus == '4' ? 'Claim Status : Approved' :
                                                            (row.ClaimStatus == '9' || row.ClaimStatus == '10' ||
                                                            row.ClaimStatus == '11' || row.ClaimStatus == '12') ? 'Claim
                                                            Status : Sent-Back' :
                                                            (row.ClaimStatus == '5' || row.ClaimStatus == '6' ||
                                                            row.ClaimStatus == '7' || row.ClaimStatus == '8') ? 'Claim
                                                            Status : Rejected' :
                                                            ''
                                                            }}
                                                        </span>&nbsp;&nbsp;
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="last_row">
                                                <div class="d_flex effective_date">
                                                    <div class="date_text">
                                                        <div>
                                                            <span class="fs_12">Remark : </span>
                                                            <span class="fs_12">{{ row.remark }}</span>

                                                        </div>

                                                    </div>
                                                </div>
                                                <button *ngIf="row.status == '2' && this.url_segment == 'employee'"
                                                    type="button" class="btn btn-secondary edit_button"
                                                    (click)="Edit_request(row.id)">Edit&nbsp;<i
                                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                                <button
                                                    *ngIf="(row.ClaimStatus == '9' || row.ClaimStatus == '10' || row.ClaimStatus == '11' || row.ClaimStatus == '12') && this.url_segment == 'employee'"
                                                    type="button" class="btn btn-secondary edit_button"
                                                    (click)="Edit_claimrequest(row.id)">Edit Claim&nbsp;<i
                                                        class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                            </div>

                                        </li>
                                    </ul>
                                    <!--======= Refer Table END ========= -->

                                    <div class="row" *ngIf="dataAr?.length == 0">
                                        <div class="col-md-12">
                                            <div class="no_data_found">
                                                <span><img src="assets/image/no_data_banner.jpg"></span>
                                                <small>No data available !</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Logs Modal -->
<div class="modal fade" id="logs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog " role="document">
        <div class="modal-content" style="width:850px;">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel"><b>History</b></h5>
                <button id="CloseModel" type="button" class="close closeModelButton" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-hover" id="Table1" style="width: -webkit-fill-available;">
                    <thead>
                        <th>SrNo.</th>
                        <th>Action User</th>
                        <th>Action User Type</th>
                        <th>Remark</th>
                        <th>Action Date</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let row of DataAr;">
                            <td>{{row.sr_no}}</td>
                            <td>
                                {{row.status == 3 ? (this.url_segment == 'travel-desk' && row.user_type == 'Travel-desk'
                                || this.url_segment == 'account-desk' && row.user_type == 'Account-desk' ?
                                (this.UserName) : (row.user_name + ' - ' + row.user_id)) : row.user_name + ' - ' +
                                row.user_id}}
                            </td>
                            <td>{{row.user_type}}</td>
                            <td>{{row.remark}}</td>
                            <td>{{row.status == 3 ? '' : row.add_stamp}}</td>
                            <td>

                                <button
                                    *ngIf="row.status == 3 &&  this.url_segment != 'manager' &&  row.user_type != 'Travel-desk' &&  row.user_type != 'Account-desk'"
                                    class="btn btn-warning">Pending For RM</button>
                                <button
                                    *ngIf="row.status == 3 &&  row.user_type == 'Travel-desk' &&  this.url_segment != 'travel-desk'"
                                    class="btn btn-warning">Pending For Travel Desk</button>
                                <button
                                    *ngIf="row.status == 3 &&  row.user_type == 'Account-desk'&&  this.url_segment != 'account-desk'"
                                    class="btn btn-warning">Pending For Account Desk</button>
                                <button *ngIf="row.status == 1" class="btn btn-success">Approved</button>
                                <button *ngIf="row.status == 0" class="btn btn-danger">Rejected</button>
                                <button *ngIf="row.status == 2" class="btn btn-warning">Sent Back </button>

                                <ng-container
                                    *ngIf="row.status == 3 && this.url_segment == 'manager' && (row.user_type != 'Travel-desk' && row.user_type != 'Account-desk')">
                                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                                        (click)="GetStatus('Approve')">Approve</button>&nbsp;&nbsp;
                                    <button class="btn btn-danger" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Deny')">Deny</button><br>
                                    <button class="btn btn-info" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Send Back')">Send Back</button>
                                </ng-container>

                                <ng-container
                                    *ngIf="row.status == 3 && this.url_segment == 'travel-desk' && row.user_type == 'Travel-desk'">
                                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                                        (click)="GetStatus('Approve')">Approve</button>&nbsp;&nbsp;
                                    <button class="btn btn-danger" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Deny')">Deny</button><br>
                                    <button class="btn btn-info" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Send Back')">Send Back</button>
                                </ng-container>

                                <ng-container
                                    *ngIf="row.status == 3 && this.url_segment == 'account-desk' && row.user_type == 'Account-desk'">
                                    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                                        (click)="GetStatus('Approve')">Approve</button>&nbsp;&nbsp;
                                    <button class="btn btn-danger" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Deny')">Deny</button><br>
                                    <button class="btn btn-info" style="padding:3px;" data-toggle="modal"
                                        data-target="#exampleModal" (click)="GetStatus('Send Back')">Send Back</button>
                                </ng-container>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- ------------------Approve/Deny/Send Back Modal------------------ -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>{{this.ApprovalStatus}}</b></h5>
                <button id="CloseModel" type="button" class="close closeModelButton" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form class="form" (ngSubmit)="travel_Form()" [formGroup]="TravelForm">
                    <div class="row">

                        <div class=" form-group col-md-4"
                            *ngIf="this.url_segment == 'account-desk' && this.SetStatus == 'Approve' ">
                            <label for="Amount">Advance Amount</label>
                            <div class="custom-file-input-wrapper">
                                <input type="number" id="Amount" formControlName="AccountAmount" class="form-control"
                                    [value]="this.DataAr[0].advance_amount">
                            </div>
                            <div *ngIf="isSubmitted && FormC.AccountAmount.errors" class="ValidationError">
                                <div *ngIf="FormC.AccountAmount.errors.required">Please Enter Amount</div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="Remark">Remark</label>

                            <textarea class="form-control" type="text" formControlName="Remark" name="Remark"
                                id="Remark" placeholder="Enter Remark"></textarea>
                            <span *ngIf="isSubmitted && FormC.Remark.errors" class="ValidationError">
                                <span *ngIf="FormC.Remark.errors.required">Remark required!</span>
                            </span>
                        </div>
                        <div class=" form-group col-md-4"
                            *ngIf="this.url_segment == 'travel-desk' && this.hotelDisabled == false && this.SetStatus == 'Approve' ">
                            <label for="File">Hotel Document (Max 5)</label>
                            <div class="custom-file-input-wrapper">
                                <input type="file" multiple="true" id="File" (change)="onFileChange('Hotel',$event)"
                                    formControlName="HotelDocs" class="form-control">
                            </div>
                            <p>{{this.HotelFiles}}</p>
                            <div *ngIf="isSubmitted && FormC.HotelDocs.errors" class="ValidationError">
                                <div *ngIf="FormC.HotelDocs.errors.required">Please Choose File</div>
                            </div>
                            <div *ngIf="fileError" class="text-danger">
                                <p><b>{{ fileError }}</b></p>
                            </div>
                        </div>

                        <div class=" form-group col-md-4"
                            *ngIf="this.url_segment == 'travel-desk' && this.travelDisabled == false && this.SetStatus == 'Approve'">
                            <label for="File">Travel Document (Max 5)</label>
                            <div class="custom-file-input-wrapper">
                                <input type="file" multiple="true" id="File" (change)="onFileChange('Travel',$event)"
                                    formControlName="TravelDocs" class="form-control">
                            </div>
                            <p>{{this.TravelFiles}}</p>
                            <div *ngIf="isSubmitted && FormC.TravelDocs.errors" class="ValidationError">
                                <div *ngIf="FormC.TravelDocs.errors.required">Please Choose File</div>
                            </div>
                            <div *ngIf="fileError2" class="text-danger">
                                <p><b>{{ fileError2 }}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" style="padding:3px;"
                            data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>