<section class="inner_page_css">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="main_card_form">
					<div class="main_header">
						<div class="header_title">All PO Requests</div>
					</div>
					<div class="main_body main_card_height_scroll_withoutfooter">
						<div>
							<div class="d_flex flex_End dsr-fillters" style="float: unset !important;">
								<button class="btn btn-info1" role="tab" id="headingOne" data-toggle="collapse"
									data-parent="#accordion" href="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">
									<a role="button" class="fa fa-filter"><span>Filters</span><i
											class="fa fa-angle-down pull-right"></i></a>
								</button>
							</div>
						</div>
						<div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
							aria-labelledby="headingOne">
							<div class="panel-body">
								<form *ngIf="checkedList?.length==0" [formGroup]="SearchForm" (ngSubmit)="SearchBtn()">
									<div class="row">
										<div class="col-sm-4">
											<select (change)="GetEmployees()" formControlName="Vertical_Id"
												class="form-control">
												<option value="0">Select Vertical</option>

												<option *ngFor="let r of Vertical_Ar;" value="{{r.Id}}">{{r.Name}}
												</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select (change)="GetSubBranches($event)" formControlName="Region_Id"
												class="form-control">
												<option value="0">Select Region</option>
												<option value="0">None</option>
												<option *ngFor="let r of Region_Ar;" value="{{r.id}}">{{r.text}}
												</option>
											</select>
										</div>
										<div class="col-sm-4">
											<select (change)="GetEmployees()" formControlName="Sub_Region_Id"
												class="form-control">
												<option value="0">Select Region-Branch</option>
												<option value="0">None</option>
												<option *ngFor="let r of Sub_Branch_Ar;" value="{{r.id}}">{{r.text}}
												</option>
											</select>
										</div>
									</div>
									<div class="row"  >
										<div class="col-sm-6">
											<ng-multiselect-dropdown class="form-control" name="Emp_Id"
												[placeholder]="Employee_Placeholder" [data]="Emps_Ar"
												formControlName="Emp_Id" [settings]="dropdownSettings"
												(onSelect)="onItemSelect($event,'Employee')"
												(onDeSelect)="onItemDeSelect($event,'Employee')">
											</ng-multiselect-dropdown>
										</div>
										<div class="col-sm-6">
											<ng-multiselect-dropdown class="form-control" name="Agent_Id"
												[placeholder]="Agents_Placeholder" [data]="Agents_Ar"
												formControlName="Agent_Id" [settings]="AgentdropdownSettings">
											</ng-multiselect-dropdown>
										</div>
									</div>
									<div class="row"  >
										<div class="col-sm-2">
											<ng-multiselect-dropdown class="form-control" name="SR_Payout_Type"
												placeholder="Select Payout Type" [data]="SR_Payout_Type_Ar"
												formControlName="SR_Payout_Type" [settings]="LOB_dropdownSettings"
												(onSelect)="onItemSelect($event,'PayoutType')">
											</ng-multiselect-dropdown>
											<span *ngIf="isSubmitted && FC.SR_Payout_Type.errors"
												class="form-text text-muted">
												<span *ngIf="FC.SR_Payout_Type.errors.required"
													style="color:red;">Please choose
													Payout options !</span>
											</span>
										</div>
										<div class="col-sm-3">
											<ng-multiselect-dropdown class="form-control" name="SR_Payout_Status"
												placeholder="Select Payout Status" [data]="SR_Payout_Status_Ar"
												formControlName="SR_Payout_Status" [settings]="LOB_dropdownSettings"
												(onSelect)="onItemSelect($event,'PayoutStatus')">
											</ng-multiselect-dropdown>
											<span *ngIf="isSubmitted && FC.SR_Payout_Status.errors"
												class="form-text text-muted">
												<span *ngIf="FC.SR_Payout_Status.errors.required"
													style="color:red;">Please choose
													posting options !</span>
											</span>
										</div>
										<div class="col-sm-3">
											<input type="text" placeholder="Select Date OR Date-Range"
												class="form-control" formControlName="DateOrDateRange" bsDaterangepicker
												[bsConfig]="{dateInputFormat: 'DD-MM-YYYY',isAnimated: true }">
											<span *ngIf="isSubmitted && FC.DateOrDateRange.errors"
												class="form-text text-muted">
												<span *ngIf="FC.DateOrDateRange.errors.required"
													style="color:red;">Please Select
													Date OR Date-Range !</span>
											</span>
										</div>
										<div class="col-sm-4" style="text-align: right;">
											<input *ngIf="(Is_Export==1)" (click)="ExportExcel()" type="button"
												class="btn btn-success" value="Export">
											&nbsp;&nbsp;
											<input type="submit" class="btn btn-info" value="Search">
											&nbsp;&nbsp;
											<button (click)="ClearSearch()" type="button" style="font-size: small;"
												class="btn btn-danger" value="Reset"> <i class="fa fa-close"> Reset</i>
											</button>
											&nbsp;&nbsp;
											<label *ngIf="(TabsType=='Approved')" for="file-input">
												<a class="btn btn-warning">
													<input style="display: none;" type="file" id="file-input" />
													Import</a>
											</label>
										</div>
									</div>
								</form>
								<div *ngIf="checkedList?.length>0" class="row"  >
									<div class="col-sm-3">
										<input type="email" [(ngModel)]="AdditonalCCEmail" class="form-control"
											placeholder="Additonal CC Email (Optional)">
									</div>
									<div class="col-sm-4">
										<input class="form-control" [(ngModel)]="Remark" placeholder="Remark">
									</div>
									<div class="col-sm-3">
										<input type="button" (click)="Transfer()" class="btn btn-info"
											value="Send PO On Email">
										&nbsp;&nbsp;
										<input (click)="CancelTransfer()" type="button" class="btn btn-danger"
											value="Cancel">
									</div>
								</div>
							</div>
						</div>

						<hr>




						<!-- <table class="table table-bordered table-hover">

							<thead>
								<tr>
									<td *ngFor="let row1 of FilterDatatype; ">
										<label *ngIf="row1.quote_status == 1">
											Quote Requested
										</label>
										<label *ngIf="row1.quote_status == 2">
											Quote Released
										</label>
										<label *ngIf="row1.quote_status == 3">
											Quote Accepted
										</label>
										<label *ngIf="row1.quote_status == 4">
											Payment URL Shared / Payment For Cheque / Payment For Cash
										</label>
										<label *ngIf="row1.quote_status == 5">
											Pending For Approval
										</label>
										<label *ngIf="row1.quote_status == 6">
											Complete
										</label>
										<label *ngIf="row1.quote_status == 0">
											Rejected
										</label>
									</td>
								</tr>
								<tr>
									<td *ngFor="let row1 of FilterDatatype; ">
										<label>
											{{row1.Id}}
										</label>
									</td>
								</tr>
							</thead>

						</table> -->
						<div class="table-responsive">
							<table datatable [dtOptions]="dtOptions"
								class="row-border hover table table-bordered table-hover table-checkable"
								id="kt_datatable">
								<thead>
									<tr>
										<th *ngIf="api.GetUserId()!= 1">Sr.No</th>
										<th *ngIf="api.GetUserId() == 1">
											<input [(ngModel)]="masterSelected" name="list_name" value="m1"
												(change)="checkUncheckAll()" type="checkbox">
										</th>
										<th>Action</th>
										<th>Request Id</th>
										<th>RequestDate</th>
										<th>CreateUser Name/Code</th>
										<th>CurrentUser Name/Code</th>
										<th>PO Group</th>
										<th>PO Month</th>
										<th>PO Mode</th>
										<th>Posting Status</th>
										<th>Agent Name</th>
										<th>Agent Code</th>
										<th>RM Name/Code</th>
										<th>Remark</th>
										<th>TDS%</th>
										<th>Total Gross INFRA</th>
										<th>Total Gross LPA</th>
										<th>Total Gross Amount</th>
										<th>TDS Amount</th>
										<th>Total Net Amount</th>
										<th>Adjustment Amount</th>
										<th>Net-Payable Amount</th>
										<th>Total Files</th>
										<th>Approved</th>
										<th>Pending</th>
										<th>Rejected</th>
									</tr>
								</thead>
								<tbody *ngIf="dataAr?.length != 0">
									<tr *ngFor="let row of dataAr">

										<td *ngIf="api.GetUserId()!= 1">{{row.SrNo}}.</td>
										<td *ngIf="api.GetUserId() == 1">
											<input
												*ngIf="(row.Status == '1' || row.Status == '3' || row.Status == '5' || row.Status == '6')"
												type="checkbox" [(ngModel)]="row.isSelected" name="list_name"
												value="{{row.Id}}" (change)="isAllSelected()">
										</td>
										<td>
											<a href="javascript:;" (click)="ExportPostingReport(row.Id)">
												<span style="margin-top:5px;"
													class="label label-success label-inline mr-2">Export</span>
											</a>
										</td>
										<td>{{ row.Group_Id }}</td>
										<td>{{ row.Add_Stamp }}</td>
										<td>{{ row.CreateUser_Name }}</td>
										<td>{{ row.CurrentUser_Name }}</td>
										<td>
											<span style="margin-bottom: 4px; background: hsl(40, 100%, 50%);"
												*ngIf="row.PO_Group == '2'"
												class="label label-danger label-inline mr-2">CM-Market</span>
											<span style="margin-bottom: 4px;width: 85px; background: hwb(205 24% 8%);"
												*ngIf="row.PO_Group == '1'"
												class="label label-info label-inline mr-2">SIBPL</span>
										</td>
										<td>{{ row.Posting_Month_Year }}</td>
										<td>
											<span style="margin-bottom: 4px; background: #ffa800;"
												*ngIf="row.Req_Source == 'Web'"
												class="label label-danger label-inline mr-2">IRDAI</span>
											<span style="margin-bottom: 4px; background: #dddd05;"
												*ngIf="row.Req_Source == 'BMS'"
												class="label label-info label-inline mr-2">INFRA</span>

											<span *ngIf="row.Payout_Mode == 'Advance'"
												class="label label-warning label-inline mr-2">{{row.Payout_Mode}}</span>
											<span *ngIf="row.Payout_Mode == 'Weekly'"
												class="label label-primary label-inline mr-2">{{row.Payout_Mode}}</span>
											<span *ngIf="row.Payout_Mode == 'Monthly'"
												class="label label-success label-inline mr-2">{{row.Payout_Mode}}</span>

										</td>
										<td>
											<span *ngIf="row.Status == '1'"
												class="label label-default label-inline mr-2">PendingForAccounts</span>
											<span *ngIf="row.Status == '2'"
												class="label label-danger label-inline mr-2">RejectByAccounts</span>
											<span *ngIf="row.Status == '3'"
												class="label label-primary label-inline mr-2">PendingForBanking</span>
											<span *ngIf="row.Status == '4'"
												class="label label-danger label-inline mr-2">RejectByBanking</span>
											<span *ngIf="row.Status == '5'"
												class="label label-info label-inline mr-2">Approved</span>

											<table *ngIf="row.Status == '6'" style="font-size: 12px;"
												class="PayoutTable">
												<tr>
													<th>Status</th>
													<th>UTR No</th>
													<th>Transfer Date</th>
												</tr>
												<tr>
													<td><span
															class="label label-success label-inline mr-2">Paid/PayoutTransfered</span>
													</td>
													<td>{{row.UTR_No}}</td>
													<td>{{row.UTR_Update_Date}}</td>
												</tr>
											</table>
										</td>
										<td>{{ row.Agent_Name }}</td>
										<td>{{ row.Agent_Code }}</td>
										<td>{{ row.RM_Name }}</td>
										<td>{{ row.Remark }}</td>
										<td>{{ row.TDS }}</td>
										<td>{{ row.Total_Payout_Amount }}</td>
										<td>{{ row.Total_IRDAI_Amount }}</td>
										<td>{{ row.Total_Gross_Amount }}</td>
										<td>{{ row.Total_TDS_Amount }}</td>
										<td>{{ row.Total_Payout_Net_Amount }}</td>
										<td>{{ row.Settlement_Amt }}</td>
										<td>{{ row.Net_Payable_Amt }}</td>
										<td>{{ row.TotalFiles }}</td>
										<td>{{ row.Approved }}</td>
										<td>{{ row.Pending }}</td>
										<td>{{ row.Rejected }}</td>
									</tr>
								</tbody>
								<tbody *ngIf="dataAr?.length == 0">
									<tr>
										<td colspan="26" align="center">No data available !</td>
									</tr>
								<tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>