<div class="inner_page_css main_dashboard_css">
 
    <section class="container-fluid">
    
    
    <div class="row">
      <div class="col-md-12">
        <div class="main_card_form">
          <div class="main_header">
            <div class="header_title">
            <h5 class="text-dark font-weight-bold my-2 mr-5">Bulk SR Upload </h5>

                 </div>
          </div>

          <div class="main_body main_card_height_scroll_withoutfooter">
            <!-- <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                <li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> Bulk Upload </a> </li>
                <li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> Extra Reward Files </a> </li>
              </ul> -->
    <!--end::Button--> 
            <div class="card-header">
                <div class="card-title">
                <h3 class="card-label"></h3>
                </div>
                <div class="card-toolbar">
                    <label>
                        <a (click)="DonwloadLoadFormat()" style="margin-right: 20px" class="btn btn-primary font-weight-bolder"> 
                        <span class="svg-icon svg-icon-md">      
                         <i class="icon-xl fas fa-file"></i>
                        </span>Donwload Format</a> 
                    </label>  

                    <label for="file-input">
                        <a class="btn btn-primary font-weight-bolder"> 
                        <span class="svg-icon svg-icon-md"> 
                            <input (change)="UploadExcel($event)" style="display: none;" type="file" id="file-input"/>
                        <i class="icon-xl fas fa-plus"></i>
                        </span>Upload Excel</a> 
                      </label>
                </div>
                </div>
             

                <div class="row" style="margin-top: 1%;">

                
               
                    <div class="col-sm-12">
                         <div *ngIf="Percentage_Slot>0 && Is_Complete==0" class="progress" style="height: 2rem;">
                            <div class="progress-bar progress-bar-danger progress-bar-striped" 
                            role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                             [style.width.%]="Percentage_Slot"  [attr.aria-valuenow]="Percentage_Slot">
                            {{Percentage_Slot}}% {{upload_msg}}
                            </div>
                        </div>
                    </div> 
     
                </div>



                <!--begin: Datatable-->
                <div class="table-responsive mydiv">
         
               
                    <table datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important; width: 100%;">
                        <thead>
                          <tr>
                            
                            <th>No.</th>
                            <th>User Name/Code</th>
                            <th>Bulk Id</th>
                            <th>New</th>
                            <th>Skipped </th>
                            <th>Total SR </th>
                            <th>Donwload</th>
                            <th>SR Add Date</th>
                            <th>Upload Date</th>
                            
                             
                          </tr>
                        </thead>
                        <tbody *ngIf="dataAr?.length != 0">
                            <tr *ngFor="let row of dataAr; let i=index;">
                               <td>{{ row.SrNo }}.</td>
                               <td>{{row.User_Name_Code}}</td>
                                <td>{{ row.Bulk_Id }}</td>
                                
                                <td>{{ row.TotalNewSR }}</td>
                                <td>{{ row.TotalAlreadyUpdateSR }}</td>
                                <td>{{ row.TotalSR }}</td>
                                <td><a [attr.href]="this.url + '../../v2/reports/Bulk_Upload/download_report?Bulk_Id=' + row.Bulk_Id" target="_blank">Click to Download</a></td>

                                <!-- <td><a href="../../v2/reports/Bulk_Upload/download_report?Bulk_Id={{ row.Bulk_Id }}" target="_blank">click to Download</a></td> -->
                                <td>{{ row.SR_Add_Date }}</td>
                                <td>{{ row.Update_Stamp }}</td>
                                 
                                 
                            </tr>
                        </tbody>
                        <tbody *ngIf="dataAr?.length == 0"> 
                          <tr>
                            <td colspan="6" align="center">No data Available !</td>
                          </tr>
                        <tbody>
                      </table> 
               
               
               </div>

          </div>

        </div>
       
  
        
    
              
             
       
           
    
    
    
    
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </section>
      <!-- /.content -->
    
    </div>  
      