<section class="inner_page_css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_card_form">
                    <div class="main_header">
                        <div class="header_title">Website Page Content Details</div>
                    </div>
                    <div class="col-md-12">
                        <div class=" mydiv table-responsive">
                            <table datatable [dtOptions]="dtOptions" id="Table1" style="width: 100%;"
                                class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Page Section Id</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Created at</th>
                                        <th> Action </th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="dataAr?.length != 0">
                                    <tr *ngFor="let row of dataAr">
                                        <td>{{row.SrNo}}.</td>
                                        <td>{{row.page_section_id}}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.description}}</td>
                                        <td>{{row.created_at}}</td>
                                        <td> <label class="label label-info" (click)="DeletePageDetails(row.id)">Delete
                                            </label>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <label class="label label-info" data-toggle="modal"
                                                data-target="#EmployeeResignPoupup" (click)="getValueEdit(row.id)"
                                                data-id="{{row.id}}" style="cursor: pointer;">Edit
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="dataAr?.length == 0">
                                    <tr>
                                        <td colspan="14" align="center">No data available!</td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<div id="EmployeeResignPoupup" class="modal fade" role="dialog">
    <div class="modal-dialog cs_table_data">

        <div class="main_card_form">
            <div class="main_header">
                <div class="header_title">Edit</div>
                <button class="close closeModelButton" data-dismiss="modal" id="ClosePOUPUP6" (click)="Helper()"
                type="button">×</button>
            </div>
            <div class="cs_modal_body modal-body">
                <div class="view_more_cases">

                    <form (ngSubmit)="submit()" [formGroup]="editDetailsForm">


                        <div class="popup-content-body">
                            <div class="row popup-form">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Title</label>
                                        <input type="text" class="form-control" formControlName="title">
                                        <!-- <div *ngIf="isSubmitted && formControls.title.errors" class="Validationerrors">
                                            <div *ngIf="formControls.title.errors.required"><span style="color: red;">Please enter
                                                    title!</span></div>
                                        </div> -->
                                    </div>

                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Title color </label>
                                        <input type="color" class="form-control" formControlName="titleColor">
                                        <button type="button" class="btn btn-secondary mt-2"
                                            (click)="clearTitleColor()">Clear</button>

                                    </div>

                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Text color </label>
                                        <input type="color" class="form-control" formControlName="txtcolor">
                                        <button type="button" class="btn btn-secondary mt-2"
                                            (click)="clearTextColor()">Clear</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Background color </label>
                                        <input type="color" class="form-control" formControlName="bgcolor">
                                        <button type="button" class="btn btn-secondary mt-2"
                                            (click)="clearBgColor()">Clear</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">ordered</label>
                                        <input type="number" class="form-control" formControlName="ordered">
                                        <!-- <div *ngIf="isSubmitted && formControls.ordered.errors" class="Validationerrors">
                                            <div *ngIf="formControls.ordered.errors.required"><span style="color: red;">Please enter
                                                    ordered!</span></div>
                                        </div> -->
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="background_color">Background Color </label>
                                                <div>
                                                    <input type="checkbox" formControlName="background_color"
                                                        id="background_color">
                                                    <!-- <label for="background" class="form-check-label">Background color </label> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="is_check_list">Check List </label>
                                                <div>
                                                    <input type="checkbox" formControlName="is_check_list"
                                                        id="is_check_list">
                                                    <!-- <label for="background" class="form-check-label">Background color </label> -->
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                </div>


                                <!-- <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="state">Image</label>
                                            <input type="file" formControlName="image" (change)="UploadDocs($event,'image')" class="form-control">
                                            <div *ngIf="isSubmitted && formControls.image.errors" class="Validationerrors">
                                                <div *ngIf="formControls.image.errors.required"><span style="color: red;">Please choose
                                                        file!</span></div>
                                            </div>
                                        </div>
                                       
                                    </div>
                         -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Section Type </label>
                                        <!-- <input type="text" class="form-control" formControlName="section_type"> -->
                                        <ng-multiselect-dropdown class="form-control" [data]="section_type"
                                            formControlName="section_type" [settings]="dropdownSettingsType"
                                            [(ngModel)]="section_name">
                                        </ng-multiselect-dropdown>
                                        <!-- <div *ngIf="isSubmitted && formControls.section_type.errors" class="Validationerrors">
                                            <div *ngIf="formControls.section_type.errors.required"><span style="color: red;">Please enter
                                                    Section Type !</span></div>
                                        </div> -->
                                    </div>

                                </div>

                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Description</label>
                                        <textarea class="form-control" formControlName="description"
                                            (input)="onDescriptionChange() "></textarea>
                                        <div *ngIf="isSubmitted && formControls.description.errors" class="Validationerrors">
                                            <div *ngIf="formControls.description.errors.required"><span style="color: red;">Please enter
                                                    description!</span></div>
                                        </div>
                                    </div>

                                </div> -->

                                <!-- <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="state">Select Blog</label>

                                        <select class="form-control" formControlName="SelectBlog" name="SelectBlog"
                                            id="SelectBlog">

                                            <option disabled value="">Select Blog</option>
                                            <option value="HTML">HTML</option>
                                            <option value="Ckeditor">Ckeditor</option>

                                        </select>

                                        <ckeditor [editor]="CKEditorComponent" formControlName="ckeditor"></ckeditor>
                                        <div *ngIf="isSubmitted && formControls.SelectBlog.errors" class="Validationerrors">
                                            <div *ngIf="formControls.SelectBlog.errors.required"><span style="color: red;">
                                                    Select Blog!</span></div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12" *ngIf="editDetailsForm.value['SelectBlog'] == 'HTML' ">
                                    <div class="form-group">
                                        <label for="state">Editor</label>
                                        <textarea class="form-control" formControlName="ckeditorContent"></textarea>
                                        <ckeditor [editor]="CKEditorComponent" formControlName="ckeditor"></ckeditor> 
                                         <div *ngIf="isSubmitted && formControls.ckeditorContent.errors" class="Validationerrors">
                                            <div *ngIf="formControls.ckeditorContent.errors.required"><span style="color: red;">
                                                    ckeditor!</span></div>
                                        </div> 
                                    </div>

                                </div>-->

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="state">Editor</label>
                                        <ckeditor [config]="editorConfig" formControlName="ckeditorContent"></ckeditor>
                                        <div *ngIf="isSubmitted && formControls.ckeditorContent.errors"
                                            class="Validationerrors">
                                            <div *ngIf="formControls.ckeditorContent.errors.required"><span
                                                    style="color: red;">
                                                    ckeditor!</span></div>
                                        </div>
                                    </div>

                                </div>



                                <div class="col-md-12">
                                    <div class="button-div-yes-no" align="right">
                                        <!-- <button type="button" (click)="CloseModel()" class="btn btn-danger">Close</button> -->

                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>