<!-- Content Wrapper. Contains page content -->
<div class="inner_page_css main_dashboard_css">
  <!-- Main content -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="main_card_form">
        <div class="main_header">
            <div class="header_title">Checkgrid</div>
            
    
          </div>
          <iframe [src]="urlSafe" title="Checkgrid"></iframe>
        </div>
    </div>
  </div>
  <!-- SELECT2 EXAMPLE -->


</section>
</div>