

.view_more_cases {
    position: relative;
    overflow-x: hidden;
  }
  
  .view_more_cases .content {
    min-height: calc(100vh - 330px);
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    overflow-x: hidden;
    margin: 0 !important;
  }

  .view_more_cases .case_table_de .status_row {
    border-top: 2px dashed #ddd;
  }
  
  .view_more_cases .case_table_de .status_row.warnings {
    border-color: #ffc107;
    background-color: #fff !important;
  }
  
  .view_more_cases .case_table_de .status_row.secondarys {
    border-color: #343a40;
    background-color: #fff !important;
  }
  
  .view_more_cases .case_table_de .status_row.successs {
    border-color: #00a65a;
    background-color: #fff !important;
  }
  
  .view_more_cases .case_table_de .status_row.darks {
    border-color: #6c757d;
    background-color: #fff !important;
  }
  
  .view_more_cases .case_table_de .status_row.dangers {
    border-color: #dc3545;
    background-color: #fff !important;
  }
  
  .view_more_cases .case_table_de .status_row .number_row_text {
    background: #ddd;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    top: 11px;
    left: 15px;
  }
  
  .view_more_cases .case_table_de .status_row.warnings .number_row_text{
    background: #ffc107;
  }
  
  .view_more_cases .case_table_de .status_row.secondarys .number_row_text{
    background: #343a40;
  }
  
  .view_more_cases .case_table_de .status_row.successs .number_row_text{
    background: #00a65a;
  }
  
  .view_more_cases .case_table_de .status_row.darks .number_row_text{
    background: #6c757d;
  }
  
  .view_more_cases .case_table_de .status_row.dangers .number_row_text{
    background: #dc3545;
  }
  
  
  
  .view_more_cases .case_table_de .status_row .cs_status_sr {
    position: absolute;
    top: 14px;
    right: 14px;
  }
  
  .view_more_cases .case_table_de .status_row .cs_status_sr button {
    font-size: 10px;
  }
  
  
  .view_more_cases .case_table_de {
    padding: 26px 15px 15px 15px;
    position: relative;
  }
  
  .view_more_cases .case_table_de ul{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
  }
  

  .view_more_cases .case_table_de ul li{
    width: calc(100% / 2 - 20px) !important;
    font-size: 11px;
    border-bottom: 1px solid #ddd;
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 5px 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }
  
  .view_more_cases .case_table_de ul li span {
    color: #afafaf;
    font-weight: 500;
  }
  
  .view_more_cases .case_table_de ul li strong {
    color: #003399;
  }
  
  .view_more_cases .case_table_de ul li strong label{
    font-size: 18px;
    margin: 0;
    line-height: 11px;
  }

  .view_more_cases .case_table_de ul li strong a.label{
    font-size: 13px;
  }
  /* .man_div{
    margin-top: 90px;
  } */
  .modal-dialog {
    width: 745px;
}