<table class="table table-bordered">




  <thead>



    <tr>
      <!-- <th>S.No</th> -->
      <th>RM Name</th>
      <th>RM Mobile</th>
      <th>RM Email</th>
    </tr>
  </thead>

  <!-- Quotation_Id,Company,Add_Stamp,Status -->
  <tbody *ngIf="RmDetails?.length != 0">
    <tr>
      <!-- <td>1</td> -->
      <td>
        {{ RmDetails.Name }}


      </td>
      <td>
        {{ RmDetails.Mobile }}


      </td>
      <td>
        {{ RmDetails.Email }}

      </td>


    </tr>



  </tbody>

  <tbody *ngIf="RmDetails?.length == 0">
    <tr>
      <td colspan="8" align="center">No data Available !</td>
    </tr>
  <tbody>
</table>
