<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <!--<small>Version 2.0</small>-->
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Exam</li>
    </ol>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-sm-8">
        <div class="exam-q-a">
          <div class="question">
            <h1><label>1</label> Question </h1>
            <p>Why do we have to wait for the product to cool down before packing?</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="radio ansdiv">
                <input id="radio-1" name="radio" type="radio" checked>
                <label for="radio-1" class="radio-label">Checked</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="radio ansdiv">
                <input id="radio-2" name="radio" type="radio">
                <label for="radio-2" class="radio-label">Unchecked</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="radio ansdiv">
                <input id="radio-3" name="radio" type="radio">
                <label for="radio-3" class="radio-label">Unchecked</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="radio ansdiv">
                <input id="radio-4" name="radio" type="radio">
                <label for="radio-4" class="radio-label">Unchecked</label>
              </div>
            </div>
          </div>
          <div class="next-pre-btn">
            <button type="button" class="btn btn-primary"><i class="fa fa-chevron-circle-left"
                aria-hidden="true"></i>previous</button>
            <button type="button" class="btn btn-secondary">Save & Next <i class="fa fa-chevron-circle-right"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class=" exam-q-a">
          <div class="question-a-u">
            <ul>
              <li><a href="#">Unattempted </a></li>
              <li class="single-li"><a href="#">Attempted </a></li>
            </ul>
          </div>
          <div class="clearfix"></div>
          <div class="total-question">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
            <a href="#">11</a>
            <a href="#">12</a>
            <a href="#">13</a>
            <a href="#">14</a>
            <a href="#">15</a>
            <a href="#">16</a>
            <a href="#">17</a>
            <a href="#">18</a>
            <a href="#">19</a>
            <a href="#">20</a>
            <a href="#">21</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
            <a href="#">22</a>
          </div>
          <div class="end-exam">
            <button type="button" class="btn btn-primary">Finish Exam</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>