<section class="inner_page_css">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main_card_form">
          <div class="main_header"> 
            <div class="header_title">Inspection Requests</div>
          </div>
          <div class="main_body main_card_height_scroll_withoutfooter">
            <div class="filterquotesrow">
              <button class="btn btninfo1" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a role="button"><i class="fa fa-filter"></i><span>Filters</span><i class="fa fa-angle-down"></i></a></button>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panelbody">
                <app-square-filter (postCreated)="SearchData($event)"></app-square-filter>
              </div>
            </div>
            <div class="custom_table tables_layout_design">
              <table datatable [dtOptions]="dtOptions" class="row-border table" id="Table1">
                <thead>
                  <tr>
                    <th></th>
                  </tr>
                </thead>
              </table>
              <ul class="responsive-table" *ngIf="dataAr?.length != 0">
                <li class="table-row tablerow{{(i % 10) + 1}}" *ngFor="let row of dataAr; let i=index;">
                  <div class="d_flex w_100 flex_Equal px_10 pb_10 flex_colum_sm mt15">
                    <div class="agents_data agents_data1">
                      <div class="icon_re_cl">{{row.sno}}</div>
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>Customer Name</div>
                          <strong class="fs_18">{{row.customerName}}</strong>                     
                        </div>
                      </div>
                    </div>
                    <div class="agents_data agents_data2">
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>Customer Mobile</div>
                          <strong class="fs_18" id="emailToCopy">{{row.customerMobile}}</strong>                                 
                        </div>
                      </div>
                    </div>
                    <div class="agents_data agents_data3">
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>Customer Email</div>
                          <strong class="fs_18">{{row.customerEmail}}</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="last_row_div custon-234">
                    <div class="label_chips motor_lob">
                      <span>Assign To : {{row.AssignedTo}} - {{row.AssignedToMobile}}</span>                      
                    </div>  
                    <div class="label_chips non_motor_lob">
                      <span>Product : {{row.product}}</span>                      
                    </div> 
                    <div class="label_chips health_lob">
                      <span>Make : {{row.make}}</span>
                    </div>                    
                    <div class="label_chips finance_lob">
                      <span>Modal : {{row.model}}</span>
                    </div>
                    <div class="label_chips growth_negative">
                      <span>Survey : {{row.surveyId}}</span>
                    </div> 
                  </div>
                  <div class="last_row">
                    <div class="d_flex effective_date">
                      <div class="date_text">
                        <span>Customer Address : </span>
                        <span class="fs_12"> {{row.pincode}}, {{row.city}}, {{row.state}}</span>
                      </div>
                    </div>
                    <div class="col_2 action_btn d_flex flex_Middel box-bottom">
                      <a *ngIf="(row.status == 0)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg">Pending</a>
                      <a *ngIf="(row.status == 1)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg2inactive">In Process</a>
                      <a *ngIf="(row.status == 2)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg1active"> Recommended</a>
                      <a *ngIf="(row.status == 4)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg1active">Non-Recommended</a>
                      <a *ngIf="(row.status == 3)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg3resign">Rejected</a>
                      <a *ngIf="(row.status == 5)" routerLink="/survey/view-details/{{row.surveyId}}" class="btnbg1active"> Refer To Insurer</a>                    
                    </div>
                  </div>
                </li>
              </ul>
              <div class="row" *ngIf="dataAr?.length == 0">
                <div class="col-md-12">
                  <div class="no_data_found">
                    <span><img src="assets/image/no_data_banner.jpg"></span>
                    <small>No data available !</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>