<section class="custom-scrool" id="click-close">
    <div class="">
        <div class="main_card_form ">
            <div class="main_header">
                <h4 class="header_title">Update Company Branch Form</h4>
                <button type="button" (click)="CloseModel()" class="close closeModelButton"><i
                        class="fa fa-close"></i></button>
            </div>
            <hr>
            <div class="modal_body">
                <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="AddFieldForm" (ngSubmit)="SubBtn()">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="category_list">
                                        <label>Branch Name</label>
                                        <input type="text" class="form-control" formControlName="branch"
                                            placeholder="Branch Name">

                                        <span *ngIf="isSubmitted && FC['branch'].errors" class="form-text text-muted">
                                            <span *ngIf="isSubmitted && FC['branch'].errors['required']"
                                                style="color:red;">This field is Required</span>
                                            <span *ngIf="isSubmitted && FC['branch'].errors['pattern']"
                                                style="color:red;">Enter Valid Characters</span>
                                        </span>
                                    </div>
                                </div>

                                <!-- <div class="col-sm-6">
                                    <div class="category_list">
                                        <label>File Type</label>
                                        <ng-multiselect-dropdown [settings]="dropdownSettings" class="form-control"
                                            placeholder="--Select--" [data]="checkBox" formControlName="file" (ngModelChange)="getCompany($event)">
                                        </ng-multiselect-dropdown>
                                        <span *ngIf="isSubmitted && FC['file'].errors" class="form-text text-muted">
                                            <span *ngIf="isSubmitted && FC['file'].errors['required']"
                                                style="color:red;">This field is Required</span>
                                        </span>
                                    </div>
                                </div> -->

                           
                                
                                <div class="col-sm-6">
                                    <div class="category_list">
                                        <label>Company</label>
                                        <ng-multiselect-dropdown [settings]="dropdownSettingsmultiselect" class="form-control"
                                            placeholder="--Select Company--" [data]="company" formControlName="company" >
                                        </ng-multiselect-dropdown>
                                        <span *ngIf="isSubmitted && FC['company'].errors" class="form-text text-muted">
                                            <span *ngIf="isSubmitted && FC['company'].errors['required']"
                                                style="color:red;">This field is Required</span>
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <div class="category_list">
                                        <label>Status</label>
                                        <ng-multiselect-dropdown [settings]="dropdownSettingsmultiselect" class="form-control"
                                            placeholder="--Select Status--" [data]="statusAr" formControlName="status" >
                                        </ng-multiselect-dropdown>
                                        <span *ngIf="isSubmitted && FC['status'].errors" class="form-text text-muted">
                                            <span *ngIf="isSubmitted && FC['status'].errors['required']"
                                                style="color:red;">This field is Required</span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="float-end pull-right">
                                        <button type="submit" class="btn btn_primary btn-success">Submit</button>
                                        &nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>