<!--begin::Content-->

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content"> 
  <!--begin::Subheader-->
  <div class="subheader py-2 py-lg-4  subheader-transparent " id="kt_subheader">
    <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"> 
      <!--begin::Info-->
      <div class="d-flex align-items-center flex-wrap mr-1"> 
        
        <!--begin::Page Heading-->
        <div class="d-flex align-items-baseline mr-5"> 
          <!--begin::Page Title-->
          <h5 class="text-dark font-weight-bold my-2 mr-5">Insurance Companies </h5>
          <!--end::Page Title--> 
          
          <!--begin::Breadcrumb-->
          <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
            <li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> data-master </a> </li>
            <li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> insurance-companies </a> </li>
             
          </ul>
          <!--end::Breadcrumb--> 
        </div>
        <!--end::Page Heading--> 
      </div>
      <!--end::Info--> 
      
      <!--begin::Toolbar-->
       
      <!--end::Toolbar--> 
    </div>
  </div>
  <!--end::Subheader--> 
  
  <!--begin::Entry-->
  <div class="d-flex flex-column-fluid"> 
    <!--begin::Container-->
    <div class=" container "> 
      <!--begin::Notice-->
    
      <!--end::Notice--> 
      
      <!--begin::Card-->
      <div class="card card-custom">
        <div *ngIf="api.GetUserData('User_Id_Dec') == 1" class="card-header">
          <div class="card-title">  
            <h3 class="card-label"></h3>
          </div>
          <div class="card-toolbar"> 
             
            
            <!--begin::Button--> 
            <a routerLink="/data-management/add-insurance-companies" class="btn btn-primary font-weight-bolder"> 
			<span class="svg-icon svg-icon-md"> 
             <i class="icon-xl fas fa-plus"></i>
            </span> ADD New </a> 
            <!--end::Button--> 
          </div>
        </div>
		
		
        <div class="card-body"> 
          <!--begin: Datatable-->
		  <div style="overflow-x:auto;">
			  <table datatable [dtOptions]="dtOptions" class="row-border hover table table-bordered table-hover table-checkable" id="kt_datatable" style="margin-top: 13px !important">
				<thead>
				<tr>
				  <th>Sr.No</th>
				  <th>Name</th>
				  <th>Branches</th>
				  <th>Last Modify</th>
				  <th>Status</th>
				  <th>Action</th>
				</tr>
				</thead>
				<tbody *ngIf="dataAr?.length != 0">
				  <tr *ngFor="let row of dataAr">
					  <td>{{ row.SrNo }}.</td>
					  <td>{{ row.Name }}</td>
					  <td>{{ row.Branch_Cities }}</td>
					 
					 <td>{{ row.Update_Stamp }}</td>
					  <td>
						 
					  <a title="" href="javascript:;" (click)="Update(row.Id,0)"><span *ngIf="row.Status == 1" class="label label-info label-inline mr-2">Active</span></a>
					  <a title="" href="javascript:;"  (click)="Update(row.Id,1)"><span *ngIf="row.Status == 0" class="label label-danger label-inline mr-2">De-Active</span></a>
					  
					  </td>
					 
					  <td>
						<a title="Edit" routerLink="/data-management/edit-insurance-companies/{{row.Id}}"><i class="fas fa-pen-alt text-warning mr-5"></i></a>
						<a *ngIf="api.GetUserData('User_Id_Dec') == 1" title="Delete" (click)="Is_Delete(row.Id)"><i class="fa fa-trash text-danger mr-5"></i></a>
					  </td>
				  </tr>
				</tbody>
				<tbody *ngIf="dataAr?.length == 0">
				<tr>
				  <td colspan="5" align="center">No data available !</td>
				</tr>
				<tbody>
				</table>
		  </div>
		   
 
          <!--end: Datatable--> 
        </div>
      </div>
      <!--end::Card--> 
    </div>
    
<!--end::Container--> 
	
	
  </div>
  <!--end::Entry--> 
</div>
<!--end::Content--> 
