  table.dataTable.no-footer {
      border: 1px solid #111;
      border-collapse: collapse;
  }

  table.dataTable tbody th,
  table.dataTable tbody td {
      padding: 8px 10px;
      border: 1px solid #000;
  }

  table.dataTable thead th,
  table.dataTable thead td {
      padding: 10px 18px;
      border: 1px solid #111;
  }

  .main_card_col_padd .col-lg-2,
  .main_card_col_padd .col-md-4,
  .main_card_col_padd .col-sm-6,
  .main_card_col_padd .col-12 {
      padding: 0 7px;
  } 
  
  .px_10 {
      padding-left: 10px;
      padding-right: 10px;
  }

  .cs_form_des {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px #00339952;
  }

  .no_data_found {
      font-size: 20px !important;
      color: #f64e60;
      font-weight: 700;
      min-height: 130px;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .custom_table .responsive-table {
      margin: 0;
      padding: 15px 0px;
      border-radius: 5px;
      width: 100%;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding-right: 15px;
  }

  .custom_table .responsive-table li {
      border-radius: 5px;
      padding-top: 10px;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-bottom: 15px;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  }

  .custom_table .responsive-table .table-row {
      background-color: #ffffff;
      box-shadow: 0px 3px 9px 0px #00000045;
      border-left: 3px solid #ddd;
  }

  .custom_table .responsive-table .table-row:nth-child(1) {
      border-color: #FD8A8A;
  }

  .custom_table .responsive-table .table-row:nth-child(2) {
      border-color: #86C8BC;
  }

  .custom_table .responsive-table .table-row:nth-child(3) {
      border-color: rgba(44, 178, 179, 1);
  }

  .custom_table .responsive-table .table-row:nth-child(4) {
      border-color: #B8E8FC;
  }

  .custom_table .responsive-table .table-row:nth-child(5) {
      border-color: #B1AFFF;
  }

  .custom_table .responsive-table .table-row:nth-child(6) {
      border-color: #D2DAFF;
  }

  .custom_table .responsive-table .table-row:nth-child(7) {
      border-color: #1572A1;
  }

  .custom_table .responsive-table .table-row:nth-child(8) {
      border-color: #99FEFF;
  }

  .custom_table .responsive-table .table-row:nth-child(9) {
      border-color: #6E85B7;
  }

  .custom_table .responsive-table .table-row:nth-child(10) {
      border-color: #CE7BB0;
  }

  .custom_table .responsive-table .table-row .agents_data {
      display: flex;
  }
  .custom_table .responsive-table .table-row .agents_data.agents_data1 {
    width: 50%;
} 
.custom_table .responsive-table .table-row .agents_data.agents_data2 {
    width: 25%;
}
.custom_table .responsive-table .table-row .agents_data.agents_data3 {
    width: 25%;
} 
.custom_table .responsive-table .table-row .agents_data.agents_data3 div.agent_name_mobile {
    width: 100%;
    text-align: right;
} 
  .custom_table .responsive-table .table-row .agents_data .icon_re_cl {
      background: rgba(44, 178, 179, 1);
      width: 30px;
      height: 30px;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      border: 1px solid;
  }

  .custom_table .responsive-table .table-row .agents_data .agent_name_mobile {
      padding-left: 15px;
  }

  .custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data {
      font-size: 14px;
      color: #909090;
  }

  .custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data .fs_18 {
      font-size: 14px !important;
  }

  .custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data div {
      font-size: 12px;
      color: #111;
  }

  .custom_table .responsive-table .table-row .agents_data .agent_name_mobile .agent_data strong {
      color: #039;
  }

  .custom_table .responsive-table .col_1 {
      width: calc(100% / 7 - 10px);
      padding: 10px;
  }

  .custom_table .responsive-table .col_1 small {
      font-size: 12px !important;
      color: #a6a6a6;
      font-weight: 500;
      display: block;
      margin-bottom: 5px;
  }

  .custom_table .responsive-table .second_row,
  .custom_table .responsive-table .first_row {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15px;
  }

  .custom_table .responsive-table .first_row .first_row {
      border: 1px dashed #ddd;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding-top: 10px;
      margin-bottom: 10px;
  }

  .custom_table .responsive-table .first_row .first_row:first-child {
      margin-top: 20px;
  }

  .custom_table .responsive-table .last_row {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      background: rgba(105, 4, 152, 0.05);
      padding: 0px 10px;
      border-radius: 0px 0px 5px 5px;
      flex-wrap: wrap;
      padding-bottom: 5px;
  }
  .custom_table .responsive-table .last_row .effective_date {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      padding: 5px;
      border-radius: 5px;
      flex-wrap: wrap;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
  }

  .custom_table .responsive-table .last_row .effective_date .date_text {
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .custom_table .responsive-table .last_row .effective_date .date_text:last-child {
      margin-right: 0px;
  }

  .custom_table .responsive-table .last_row .effective_date .date_text span {
      font-size: 12px !important;
      color: #6d6d6d;
      margin-right: 10px;
      font-weight: 600;
  }

  .custom_table .responsive-table .last_row .effective_date .date_text span:last-child {
      font-size: 18px !important;
      color: #039;
      margin-right: 0px;
      font-weight: 700;
  }

  .custom_table .responsive-table .action_btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px !important;
    color: #333 !important;
    border-radius: 5px;
    font-weight: 800;
    letter-spacing: 0.5px;
    background: rgba(165, 187, 0, .1);
    border-radius: 3px;
    margin-left: 10px;
    padding: 5px 10px;
    font-weight: 600;
    border: 1px solid rgb(66 75 4 / 10%);
  }

  .custom_table .responsive-table .action_btn a.btn-bg {
      background-color: #f0767673;
  }
  .custom_table .responsive-table .action_btn .box-bottom {
      background-color: #3f91d473;
  }

  .custom_table .responsive-table .action_btn a.btn-bg1 {
      background-color: #2bb0b61a;
  }
  .custom_table .responsive-table .action_btn a.btn-active {
      background-color: #6bd55865;
  }
  .custom_table .responsive-table .action_btn a.btn-Inactive {
      background-color: #d3124685;
  }




  @media (max-width:991px) {
      .flex_colum_sm {
          flex-wrap: wrap;
      }

      .modal-dialog.cs_table_data {
          width: calc(100% - 0px) !important;
          margin-left: 0px !important;
      }

      .view_more_cases .case_table_de ul li {
          width: calc(100% / 3 - 20px) !important;
      }
  }

  @media (max-width:767px) {
      .card.card-custom>.card-body {
          padding: 0 !important;
      }
  }

  @media (max-width:659px) {
      .view_more_cases .case_table_de ul li {
          width: calc(100% / 2 - 20px) !important;
      }
  }

  @media (max-width:475px) {
      .view_more_cases .case_table_de ul li {
          width: calc(100% / 1 - 0px) !important;
      }
  }





  .custom_table .content {
      min-height: 530px !important;
      max-height: 530px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-bottom: 0 !important;
  }

  .custom_table .content::-webkit-scrollbar {
      width: 5px;
  }

  .custom_table .content::-webkit-scrollbar-thumb {
      background-color: #367fa9;
  }

  .custom_loader_new {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #1e529561;
      overflow: hidden;
      top: -1px;
      z-index: 9999999999 !important;
      display: block;
  }

  .last_row_div {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: #dfeaf000;
      padding: 5px 10px 10px 0px;
      flex-wrap: wrap;
      border-bottom: 0px;
  }
.last_row_div.align-view {
    margin-left: 10px;
}
  .last_row .label_chips {
      flex-wrap: wrap;
  }

  .last_row_div .motor_lob {
      background-color: #ffbfbf73;
  }

  .last_row_div .non_motor_lob {
      background-color: rgba(44, 178, 179, 0.10);
  }

  .last_row_div .health_lob {
      background-color: rgba(165, 187, 0, .1);
  }

  .last_row_div .life_lob {
      background-color: #fda1c757;
  }

  .last_row_div .finance_lob {
      background-color: #ebabff73;
  }

  .last_row_div .mutual_fund_lob {
      background-color: #4c9cde61;
  }

  .last_row_div .real_estate_lob {
      background-color: #cdce127d;
  }

  .last_row_div .growth_negative {
      background-color: #f5081494;
  }

  .last_row_div .growth_positive {
      background-color: #09ae09f8;
  }

  .last_row_div .label_chips {
      font-size: 12px;
      font-weight: 600;
      padding: 4px 10px;
      border-radius: 3px;
      margin-right: 10px;

  }

  .last_row_div .label_chips span {
      font-size: 12px;
      color: #343a40;
  }

  .last_row_div .city_chip {
      background-color: rgba(44, 178, 179, 0.10);
  }


  .custom_table .responsive-table .last_row.align-pro {
      justify-content: inherit;
      display: inherit;
  }
  .custom_table .responsive-table .last_row.align-pro .align-375 {
    width: 100%;
  }
  .custom_table .responsive-table .last_row.align-pro .align-375 .align-376 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .custom_table .responsive-table .last_row.align-pro .align-375 .align-377 {
    display: flex;
    justify-content: flex-end;
    float: right;
    text-align: right;
    width: 100%;
  }
  .custom_table .responsive-table .last_row.align-pro .box-bottom {
      margin-right: 10px;
  }

  .custom_table .responsive-table .last_row.align-pro .details-btn .details {
      background: #3c8dbc !important;
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      min-height: 28px;
      font-weight: 600;
  }
  
  .align-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .align-btn button {
    background: #fff;
    color: #333;
    border: none;
    border-radius: 3px;
    padding: 3px 10px;
    margin-left: 5px;
}
