
.outer_input {
  background-color: #fff;
  color: #000;
  text-align: center;

  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  width: 100%;
  height: 34px;
    padding: 6px 12px;
}

.outer_input input {
  height: 20px;
  width: 65px;
  display: inline-block;
  margin-right: 5px;
  background-color: #fff;
  text-align: center;
  color: #000;
  border: 0;
  margin: 0;
  font-size: small;
}

.fileUpload input[type=file]{
  display:none;
}
.btn {
  background-color: #e6f6f3;
  color: #333;
  border: 1px solid #bdded7 !important;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 16px;
}
.btn.save-click {
  background-color: #2cb2b3;
  color: #fff;
  border: 1px solid #2cb2b3 !important;
  border-radius: 5px;
}
.actionButtons .btn.save-click {
  float: right;
}
.btn-warningx {
  background-color: #f39c12;
  border-color: #e08e0b;
  padding: 2px;
  font-size: 12px;
}

.btn-primaryx {
  background-color: #128ef3;
  border-color: #128ef3;
  padding: 2px;
  font-size: 12px;
}

.btn-successx {
  background-color: #3ff312;
  border-color: #3ff312;
  padding: 2px;
  font-size: 12px;
}

.btn-dangerx {
  background-color: #f31212;
  border-color: #f31212;
  padding: 2px;
  font-size: 12px;
}.ImageUploaded{
  background-color:green;
  color:white;
}
.doc-required {
  margin-top: 30px;
}
input[type='file'] {
  display: none;
}
.btn-danger{
  background-color: #dd4b39 !important;
}

.fade_coustam {
  z-index: 9999 !important;
}