<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->


	<!-- Main content -->
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Recovery Report</h3>
					</div>
					<!-- /.box-header -->


					<div class="box-body">


						<form *ngIf="checkedList?.length==0" [formGroup]="SearchForm" (ngSubmit)="SearchBtn()">

							<div class="row">

								<div class="col-sm-4">



									<select (change)="GetEmployees($event)" formControlName="Vertical_Id"
										class="form-control">
										<option value="0">Select Vertical</option>

										<option *ngFor="let r of Vertical_Ar;" value="{{r.Id}}">{{r.Name}}</option>
									</select>

								</div>

								<div class="col-sm-4">
									<select (change)="GetSubBranches($event)" formControlName="Region_Id"
										class="form-control">
										<option value="0">Select Region</option>
										<option value="0">None</option>
										<option *ngFor="let r of Region_Ar;" value="{{r.id}}">{{r.text}}</option>
									</select>
								</div>

								<div class="col-sm-4">
									<select (change)="GetEmployees($event)" formControlName="Sub_Region_Id"
										class="form-control">
										<option value="0">Select Region-Branch</option>
										<option value="0">None</option>
										<option *ngFor="let r of Sub_Branch_Ar;" value="{{r.id}}">{{r.text}}</option>
									</select>
								</div>


							</div>


							<div class="row"  >

								<div class="col-sm-6">

									<ng-multiselect-dropdown class="form-control" name="Emp_Id"
										[placeholder]="Employee_Placeholder" [data]="Emps_Ar" formControlName="Emp_Id"
										[settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Employee')"
										(onDeSelect)="onItemDeSelect($event,'Employee')">
									</ng-multiselect-dropdown>


								</div>

								<div class="col-sm-6">

									<ng-multiselect-dropdown class="form-control" name="Agent_Id"
										[placeholder]="Agents_Placeholder" [data]="Agents_Ar" formControlName="Agent_Id"
										[settings]="AgentdropdownSettings">
									</ng-multiselect-dropdown>
								</div>

							</div>


							<div class="row"  >

								<div class="col-sm-2">

									<ng-multiselect-dropdown class="form-control" name="SRLOB" placeholder="Select LOB"
										[data]="SRLOB_Ar" formControlName="SRLOB" [settings]="LOB_dropdownSettings"
										(onSelect)="onItemSelect($event,'LOB')"
										(onDeSelect)="onItemDeSelect($event,'LOB')">
									</ng-multiselect-dropdown>

								</div>

								<div class="col-sm-5">

									<ng-multiselect-dropdown class="form-control" name="Product_Id"
										placeholder="Select Product" [data]="Products_Ar" formControlName="Product_Id"
										[settings]="dropdownSettings">
									</ng-multiselect-dropdown>


								</div>

								<div class="col-sm-5">

									<ng-multiselect-dropdown class="form-control" name="Company_Id"
										placeholder="Select Ins Company" [data]="Companies_Ar"
										formControlName="Company_Id" [settings]="dropdownSettings">
									</ng-multiselect-dropdown>


								</div>




							</div>
							<div class="row"  >

								<div class="col-sm-2">

									<ng-multiselect-dropdown class="form-control" name="SR_Source_Type"
										placeholder="Select Source" [data]="SRSource_Ar"
										formControlName="SR_Source_Type" [settings]="LOB_dropdownSettings"
										(onSelect)="onItemSelect($event,'Source')">
									</ng-multiselect-dropdown>

								</div>



								<div class="col-sm-3">
									<input type="text" placeholder="Select Date OR Date-Range" class="form-control"
										formControlName="DateOrDateRange" bsDaterangepicker
										[bsConfig]="{dateInputFormat: 'DD-MM-YYYY',isAnimated: true }">
								</div>
								<div class="col-sm-4"></div>

								<div class="col-lg-3" style="text-align: right;">

									<!--<input *ngIf="Is_Export==1" (click)="ExportExcel()" type="button" class="btn btn-success" value="Export">
				&nbsp;&nbsp; -->
									<input type="submit" class="btn btn-info" value="Search">
									&nbsp;&nbsp;
									<button (click)="ClearSearch()" type="button" style="font-size: small;"
										class="btn btn-danger" value="Reset"> <i class="fa fa-close"> Reset</i>
									</button>
									&nbsp;&nbsp;
									<input (click)="AddRecovery()" type="button" class="btn btn-warning" value="Add">
								</div>

							</div>

						</form>


						<hr>
						<div class="table-responsive">
							<table datatable [dtOptions]="dtOptions" id="example2"
								class="table table-bordered table-hover">
								<thead>
									<tr>

										<th>
											<!-- <input [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()" type="checkbox"> -->
											<input [(ngModel)]="masterSelected" name="list_name" value="m1"
												type="checkbox">

										</th>
										<th>Action
										</th>

										<th>Recovery Date</th>
										<th style="text-align:center;">Product Details</th>

										<th style="text-align:center;">Payout Details</th>
										<th>Policy No</th>
										<th>Agent</th>
										<th>RM</th>
										<th>Creation Date</th>

									</tr>
								</thead>

								<tbody *ngIf="dataAr?.length != 0">

									<tr *ngFor="let row of dataAr; let i=index;">
										<td><!--{{row.SrNo}}.-->

											{{(i+1)}}.

										</td>
										<td>

											<a href="javascript:;" (click)="ViewSR(row.Id)"><span
													style="margin-right: 5px;"
													class="label label-primary">Details</span></a>



										</td>

										<td>
											{{row.Booking_Date}}
										</td>

										<td>
											<table style="font-size: 12px;" class="PayoutTable">
												<tr>

													<td>Product</td>
													<td>Sub-Product</td>
													<td>Segment</td>

												</tr>
												<tr>

													<td>{{row.Product_Id}}</td>
													<td>{{row.SubProduct_Id}}</td>
													<td>{{row.Segment_Id}}</td>


												</tr>

											</table>

										</td>



										<td>
											<table class="PayoutTable">
												<tr>
													<td>OD%</td>
													<td>OD AMT</td>
													<td>TP%</td>
													<td>TP AMT</td>

													<td>Reward</td>
													<td>Scheme</td>
													<td>Total</td>
												</tr>
												<tr>
													<td>{{row.Web_Agent_Payout_OD}}</td>
													<td>{{row.Web_Agent_Payout_OD_Amount}}</td>
													<td>{{row.Web_Agent_Payout_TP}}</td>
													<td>{{row.Web_Agent_Payout_TP_Amount}}</td>

													<td>{{row.Web_Agent_Reward_Amount}}</td>
													<td>{{row.Web_Agent_Scheme_Amount}}</td>
													<td>{{row.Web_Agent_Total_Amount}}</td>



												</tr>

											</table>
										</td>

										<td>{{row.Policy_No}}
											<span style="margin-right: 5px;"
												class="label label-info">{{row.LOB_Id}}</span>

											<span *ngIf="row.Source == 'Web'" style="margin-right: 5px;"
												class="label label-success">Online</span>
											<span *ngIf="(row.Source == 'BMS' || row.Source == 'Excel')"
												style="margin-right: 5px;" class="label label-warning">Offline</span>
											<span *ngIf="(row.Policy_Type == '2' || row.Policy_Type == '3')"
												style="margin-right: 5px;" class="label label-warning">Non POS</span>
											<span *ngIf="row.Policy_Type == '1'" style="margin-right: 5px;"
												class="label label-info">POS</span>
										</td>

										<td>{{row.Agent_Name}}</td>
										<td>{{row.RM_Name}}</td>
										<td>{{row.Create_Date}}</td>
									</tr>

								</tbody>

								<tbody *ngIf="dataAr?.length == 0">
									<tr>
										<td colspan="9" align="center">No data Available !</td>
									</tr>
								<tbody>

							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->