<div class="row">
  <button (click)="CloseModel()" type="button" class="close closeModelButton">&times;</button>
</div>

<table class="table table-bordered">

  <thead>
    <tr>
      <th colspan="6" style="text-align: center; background-color: #2cb2b3; color: white;">Rating Criteria Masters</th>
    </tr>

    <tr>
      <th colspan="6"> </th>
    </tr>

    <tr style="background-color: #2cb2b3; color: white;">
      <th>Sr&nbsp;No</th>
      <th>Overall Rating</th>
      <th>Performance Rating</th>
      <th>Definition</th>
    </tr>
  </thead>

  <tbody *ngIf="dataAr?.length != 0">
    <tr *ngFor="let row of dataAr; let i=index;">
      <td>{{row.SrNo}} </td>
      <td>{{row.OverallRatingStart}} - {{row.OverallRatingEnd}}</td>
      <td>{{row.PerformanceRating}}</td>
      <td>{{row.RatingDefinition}}</td>
    </tr>
  </tbody>

  <tbody *ngIf="dataAr?.length == 0">
    <tr>
      <td colspan="4" align="center">No data Available !</td>
    </tr>
  <tbody>

</table>