/* .label-primary {
    background-color: #2cb2b3;
    border-color: #367fa9;
    padding: 3px;
    font-size: 12px;
}

.label-success {
    background-color: #00a65a;
    border-color: #00a65a;
    padding: 3px;
    font-size: 12px;
}

.label-warning {
    background-color: #f39c12;
    border-color: #f39c12;
    padding: 3px;
    font-size: 12px;
} */
