/* .btn.btn-flat {
  border-radius: 0;
  box-shadow: none;
  border-width: 1px;
  margin-top: 10px;
}
a.btn.btn-primary.btn-block.btn-flat {
  padding: 6px 4px;
}

.login-box-body, .register-box-body {
  background: #0d103ae3;
  padding: 50px 20px;
  border-top: 4px solid #ff7900;
  color: #666;
  box-shadow: 0px 0px 10px #000000;
}

.login-box, .register-box {
  width: 360px;
margin: 34% auto;
} */

.form-control-feedback.labelpasswordview {
  height: 49px;
  margin: 0px !important;
  pointer-events:unset !important;
  font-size: 16px !important;
}

.loginsamepassword {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-top: 0px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: left;
}
.loginsamepassword img {
  width: 70px;
  margin-right: 10px;
}

.login-box-body, .register-box-body {
  background: #fff;
  padding: 0px;
  border-top: 0;
  color: #666;

}

.close {
  float: right;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  color: #a1a1a1;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 1;
}
.btn-block.btn-flat.btn-primary {
  background-color: #2cb2b3;
  border-color: #2cb2b3;
  border-radius: 5px !important;
  padding: 14px;
  font-size: 14px !important;
}
input.form-control {
  padding-left: 12px !important;
  font-size: 14px;
  height: 50px;
}
.form-control-feedback {
  line-height: 45px;
  margin-right: 5px;
}
.form-control-feedback   img {
  width: 25px;
}
.login-button.forgot {
  margin: 0;
  color: #fff;
  background-color: #2cb2b3 !important;
  border: none;
  font-weight: 600;
  padding: 10px 0px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #2cb2b3;
  height: 50px;
  width: 50px;
  opacity: inherit;
}
.verify-pass {
  position: relative;
}

.has-feedback.otp {
  display: flex;
  flex-wrap: wrap;
}
.has-feedback.otp  .form-group.has-feedback  {
  position: relative;
  flex: 1 1 0%;
  min-width: 0;
}
.has-feedback.otp  .form-group.has-feedback  input.form-control{
  border-radius: 5px 0px 0px 5px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px)  {
  .otp-col {
    position: relative;
    right: inherit;
    top: 0;
    left: 0;
}
.login-button.forgot {
  padding: 0;
}
}
