table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  
  .d_flex {
    display: flex;
  }
  
  .cs_search_btn {
    width: 250px;
    position: absolute;
    right: 0;
    z-index: 3;
    top: -8px;
  }
  
  .errorMsgg {
    border-color: red;
  }