<section class="inner_page_css">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main_card_form">
          <div class="main_header"> 
            <div class="header_title">NOC Details</div>
          </div>
          <div class="main_body main_card_height_scroll_withoutfooter">            
            <div class="filterquotesrow">
              <button class="btn btninfo1" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a role="button"><i class="fa fa-filter"></i><span>Filters</span><i class="fa fa-angle-down"></i></a></button>
              <button class="btn btninfo1" *ngIf="this.currentUrl=='/noc/view-noc'" (click)="AddNoc(0,'Noc',0,1)">NOC Request</button>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panelbody">
                <app-square-filter (postCreated)="SearchData($event)"></app-square-filter>
              </div>
            </div>     
            <div class="custom_table tables_layout_design">         
              <table datatable [dtOptions]="dtOptions" id="Table1" class="row-border table"> 
                <thead>
                  <tr>
                    <th></th>
                  </tr>
                </thead>
              </table>
              <ul class="responsive-table" *ngIf="dataAr?.length != 0">
                <li class="table-row tablerow{{(i % 10) + 1}}" *ngFor="let row of dataAr; let i=index;">
                  <div class="d_flex w_100 flex_Equal px_10 pb_10 flex_colum_sm mt15">
                    <div class="agents_data agents_data1">
                      <div class="icon_re_cl">{{row.SrNo}}</div>
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>POSP Name</div>
                          <strong class="fs_18">{{row.agentname}}</strong>                    
                        </div>
                      </div>
                    </div>
                    <div class="agents_data agents_data2">
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>POSP Mobile No.</div>
                          <strong class="fs_18">{{row.agentmobile}}</strong>                                
                        </div>
                      </div>
                    </div>
                    <div class="agents_data agents_data3">
                      <div class="agent_name_mobile">
                        <div class="agent_data">
                          <div>Date</div>
                          <strong class="fs_18">{{row.insert_date}}</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="last_row_div custon-234">
                    <div class="label_chips motor_lob">
                      <span>POS ID : {{ row.agentid}}</span>
                    </div>
                    <div class="label_chips non_motor_lob">
                      <span>Noc Id : {{row.NocOrderId}}</span>
                    </div>
                    <div class="label_chips finance_lob">
                      <span>Name : {{row.name}}</span>
                    </div>
                    <div class="label_chips finance_lobstatus">
                      <span class="btn btnindigo" *ngIf="row.status_check == 1">Requested</span>
                      <span class="btn btnwarning" *ngIf="row.status_check == 2">Pending For HOD</span>
                      <span class="btn btnwarning" *ngIf="row.status_check == 3">Pending For Accounts</span>
                      <span class="btn btnwarning" *ngIf="row.status_check == 4">Pending For Principal</span>
                      <span class="btn btnwarning" *ngIf="row.status_check == 5">Pending For Pos team</span>
                      <span class="btn btnsucess" *ngIf="row.status_check == 6">NOC Released</span>
                      <span class="btn btndanger" *ngIf="row.status_check == 0">Rejected</span>
                    </div>                    
                  </div>
                  <div class="last_row">
                    <div class="d_flex effective_date">
                      <div class="date_text">
                        <span>Reason : </span>
                        <span class="fs_12"> {{row.reason}}</span>
                      </div>
                    </div>
                    <div class="col_2 action_btn d_flex flex_Middel box-bottom">
                      <a *ngIf="row.noc_letter !=''" href="{{row.noc_letter}}" class="btnbg3" target="_blank">NOC Letter Download</a>
                      <a *ngIf="row.Details == '1'" class="btnbg2inactive" (click)="AddNoc(row.Id,'Details', row.status_check, row.url)">Details</a>
                      <a *ngIf="row.Details == '0'" class="btnbg1active" (click)="AcceptAssignQuote(row.Id, row.status_check)">Accept</a>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="row" *ngIf="dataAr?.length == 0">
                <div class="col-md-12">
                  <div class="no_data_found">
                    <span><img src="assets/image/no_data_banner.jpg"></span>
                    <small>No data available !</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>