<!-- Content Wrapper. Contains page content -->
<div class="inner_page_css main_dashboard_css">
  <!-- Content Header (Page header) -->
  <!-- Main content -->
  <section class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="main_card_form">
          <div class="main_header">
            <div class="header_title">{{ masterType }}</div>
          </div>
          <div *ngIf="!hasAccess" class="error-message">
            <div class="container" style="text-align: center;">
              <img src="assets/Authorised.png" alt="">
              <h4>{{ errorMessage }}</h4>
            </div>
          </div>
          <div class="main_body main_card_height_scroll" *ngIf="hasAccess">

            <div class="filterquotesrow">
              <button class="btn btninfo1" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a role="button"><i
                    class="fa fa-filter"></i><span>Filters</span><i class="fa fa-angle-down"></i></a></button>
              <div><a class="btn btninfo1" (click)="openAddDialog(masterType, urlSegment,'Add','','')" type="button"><i
                    class="fa fa-plus"></i> Add More +</a></div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panelbody">
                <form [formGroup]="searchForm" (ngSubmit)="SearchData()">
                  <div class="row">

                    <div class="col-sm-3">
                      <label for="Request_type">Search</label>
                      <input type="text" class="form-control" placeholder="Search" formControlName="SearchValue">
                    </div>
                    <div class="col-sm-3" style="margin-top:24px;">
                      <input type="submit" class="btn btn-info" value="Search"> &nbsp;&nbsp;
                      <button (click)="ClearSearch()" type="button" class="btn btn-danger" value="Reset"> <i
                          class="fa fa-close"> </i> Reset</button>
                    </div>


                  </div>
                </form>
              </div>
            </div>

            <div class="mydiv">


              <div class="custom_table tables_layout_design">
                <table datatable [dtOptions]="dtOptions" class="row-border table" id="employee_table">
                  <thead>
                    <tr>
                      <th></th>
                    </tr>
                  </thead>
                </table>
                <ul class="responsive-table" *ngIf="dataAr?.length != 0">
                  <li class="table-row tablerow" *ngFor="let row of dataAr; let i=index;"
                    [ngClass]="{'activestatus': row.status == '1' , 'inactivestatus': row.status == '0' }">
                    <div class="d_flex w_100 flex_Equal px_10 pb_10 flex_colum_sm mt15">
                      <div class="agents_data agents_data1">
                        <div class="icon_re_cl">{{i+1}}</div>
                        <div class="agent_name_mobile">
                          <div class="agent_data">
                            <div>Name</div>
                            <strong class="fs_18"><span>{{row.Name}}</span></strong>

                          </div>
                        </div>
                      </div>
                      <div class="agents_data agents_data3">
                        <div class="agent_name_mobile">
                          <div class="agent_data">
                            <div>Create Date</div>
                            <div><strong>{{row.InsertDate}}</strong></div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="last_row_div"
                      *ngIf="masterType == 'Branch' || masterType == 'Regional-Office' || masterType == 'Service-Location' ">
                      <div class="d_flex custon-234">
                        <div class="label_chips non_motor_lob"
                          *ngIf="masterType == 'Branch' || masterType == 'Regional-Office' || masterType == 'Service-Location'">
                          <span>Zone - {{row.ZoneName}}</span>&nbsp;&nbsp;
                        </div>
                        <div class="label_chips motor_lob"
                          *ngIf="masterType == 'Branch' || masterType == 'Service-Location' && row.Ro != ''">
                          <span>Regional Office - {{row.Ro}}</span>
                        </div>
                        <div class="label_chips finance_lob" *ngIf="masterType == 'Branch' && row.BranchAddress != ''">
                          <span>Branch Address - {{row.BranchAddress}}</span>
                        </div>
                        <div class="label_chips finance_lob"
                          *ngIf="masterType == 'Service-Location' && row.Branch != ''">
                          <span>Branch - {{row.Branch}}</span>
                        </div>
                        <div class="label_chips finance_lob"
                          *ngIf="masterType == 'Service-Location' && row.Current_Tier != ''">
                          <span>Current Tier - {{row.Current_Tier}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="last_row">
                      <div class="effective_date">
                        <div class="d_flex">

                        </div>
                      </div>
                      <div class="col_2 action_btn d_flex flex_Middel box-bottom">

                      </div>
                      <div class="col_2 action_btn d_flex flex_Middel box-bottom">
                        <button class="btn" [ngClass]="{'btn-success': row.Status == 1, 'btn-danger': row.Status == 0}"
                          (click)="toggleStatus(masterType, row.Id, row.Status)"
                          style="margin-right: 10px; padding:3px 10px;">
                          {{ row.Status == 1 ? 'Active' : 'Inactive' }}
                        </button>
                        <button (click)="openAddDialog(masterType, urlSegment, 'Edit', row.Id, row)"
                          class="btn btn-info" style="margin-right: 10px; padding: 3px 10px;">Edit</button>

                        <button (click)="deleteData(masterType, row.Id)" class="btn btn-danger"
                          style="cursor: pointer; padding: 3px 10px;">
                          Delete
                        </button>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="row" *ngIf="dataAr?.length == 0">
                  <div class="col-md-12">
                    <div class="no_data_found">
                      <span><img src="assets/image/no_data_banner.jpg"></span>
                      <small>No data available !</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

  <!-- Main content -->
</div>