.mat-dialog-container {
    padding: 0px !important;
    border-radius: 10px !important;
}

/* .main_card_form {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00006640;
    border: 1px solid #2cb2b3;
    width: 104%;
    left: -24px;
    position: relative;
    top: -28px;
    overflow-x: hidden;
} */