<div class="main_card_form">
  <div class="main_header">
    <div class="header_title">Send Renewal Mail</div>
  </div>
  <div class="cs_modal_body">


    <form class="form" [formGroup]="SendMailFormValue">

      <div class="row customSentLables">
        <div class="col-md-12">


          <div class="col-lg-4">
            <label>User type:</label>
            <select class="form-control" Id="UserType" formControlName="Usertype" (click)="OnchangeValue()">
              <option Disabled>Select</option>
              <option value="Dierct">Direct</option>
              <option value="Employee">Employee</option>
            </select>
            <div *ngIf="isSubmitted && formControls.Usertype.errors " class="ValidationError">
              <div *ngIf="formControls.Usertype.errors.required">Please Select Type !
              </div>
            </div>
          </div>

          <div class="col-lg-4" *ngIf="SendMailFormValue.value['Usertype'] == 'Employee'">
            <label>Employee:</label>
            <ng-multiselect-dropdown class="form-control" formControlName="Employee" name="Employee"
              placeholder="Employee" [data]="EmployeeData" [settings]="dropdownSettingsingleselect"
              (onSelect)="onItemSelect($event,'Employee')" (onDeSelect)="onItemDeSelect($event,'Employee')">
            </ng-multiselect-dropdown>
            <div *ngIf="isSubmitted && formControls.Employee.errors " class="ValidationError">
              <div *ngIf="formControls.Employee.errors.required">Please Select Employee !
              </div>
            </div>
          </div>

          <div class="col-lg-4" *ngIf="SendMailFormValue.value['Usertype'] == 'Employee'">
            <label>SP/POS:</label>
            <ng-multiselect-dropdown [(ngModel)]="Users" formControlName="Useragent" class="form-control" name="Users"
              placeholder="SP/POS" [data]="SpPosDataArr" [settings]="dropdownSettingmultiselect">
            </ng-multiselect-dropdown>
            <div *ngIf="isSubmitted && formControls.Useragent.errors " class="ValidationError">
              <div *ngIf="formControls.Useragent.errors.required">Please Select SP/POS !
              </div>
            </div>
          </div>

          <div class="col-lg-12" *ngIf="SendMailFormValue.value['Usertype'] == 'Employee'">
            <div class="input_group mt_20">
              <label>CC MAIL:</label>
              <input type="text" placeholder="Multiple CC Email By Comma Sperated" class="form_control"
                formControlName="CCEmail" maxlength="300">
            </div>
          </div>

        </div>


      </div>
    </form>

  </div>
  <div class="main_footer">
    <button type="button" (click)="CloseModel()" class="mr_5 btn-danger Save_click" data-dismiss="modal">Cancel</button>
    <button type="submit" class="Save_click" (click)="SubmitRequests()">Send Now</button>
  </div>
</div>