
.outer_input {
    background-color: #fff;
    color: #000;
    text-align: center;
    display: flex !important;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    width: 100%;
    height: 34px;
      padding: 3px 5px;
  }

  .outer_input input {
    height: 20px;
    width: 65px;
    display: inline-block;
    margin-right: 5px;
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 0;
    margin: 0;
    font-size: small;
  }

  .fileUpload input[type=file]{
    display:none;
}
.btn{
    background-color:#e3e3e3;
    color:#333;
    border:1px solid #e6e6e6;
    border-radius:3px;
    padding:6px 12px;
    font-size:16px;
}
.Save-click{
  border:1px solid #e6e6e6;
  border-radius:3px;
  padding:6px 12px;
  font-size:16px;
}
.ImageUploaded{
  background-color:green;
  color:white;
}


.border_box {
  display: inline-block;
  width: 100%;
  border: 1px solid #cccc;
  border-radius: 10px;
  padding: 10px;
}

input[type=checkbox] {
  box-sizing: border-box;
}

