<section class="inner_page_css knowlage_details_page custom-scrool">
  <div class="container-fluid">
    <div class="main_card_form ">
      <div class="main_header">
        <div class="header_title">Current Plan Type</div>
        <div class="call-precess" id="callProcess" style="display:none;">
          <div class="call-align">
            <img src="assets/image/calling.gif" alt="">
          </div>
          <div class="heading-call">Call in Progress....</div>
        </div>
      </div>

      <div class="main_body main_card_height_scroll_withoutfooter">



        <div class="btn_list_group">
          <div class="panel-group mb-0" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="row">

                <div class="col-md-12">
                  <div class="dsr-fillter">
                    <button class=" btn btn-info1" (click)="dailog2()">
                      <a role="button" class="fa fa-filter"><span>Add Categories</span></a>
                    </button>
                    <button class=" btn btn-info1" (click)="dailog()">
                      <a role="button" class="fa fa-plus"><span>Add Request</span></a>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="All">

                <div class="box-body">
                  <div class="mydiv">
                    <!-- <table id="Table1" class="table table-bordered table-hover"> -->
                    <table datatable [dtOptions]="dtOptions" id="Table1" class="table table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>LOB</th>
                          <th>Company</th>
                          <th>Plan Type</th>
                          <th>Sub Plan</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of dataAr">
                          <td>
                            <span>{{row.lob}}</span>
                          </td>

                          <td>
                            <span>{{row.company}}</span>
                          </td>

                          <td>
                            <span>{{row.PlanType}}</span>
                          </td>

                          <td>
                            <span>{{row.SubPlan}}</span>
                          </td>

                          <td>
                            <label class="label label-info" (click)="update(row.id)">View Or Edit</label>
                          </td>
                        </tr>

                      </tbody>
                      <tbody *ngIf="dataAr?.length == 0">
                        <tr>
                            <td colspan="11" align="center">No data available !</td>
                        </tr>
                    <tbody>
                    </table>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>