.custom-scrool .main_card_form .main_header {
  background: #fff;
  padding: 5px 40px 0 40px;
  border-radius: 0px;
  color: #3c8dbc;
}

.custom-scrool .main_card_form {
  background: #fff;
  border-radius: 0px;
  box-shadow: none;
  border: none;
}

.main_card_form .main_header .header_title {
  color: #3c8dbc;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.col-md-12 {
  padding: 0 40px 0 40px;
}

.closeModelButton {
  margin: 5px 5px 0 0;
}

.float-end {
  margin-top: 20px;
}

.check-flex {
  display: flex;
  justify-content: space-between;
}
#btn-none {
  display: none;
}
