<section class="inner_page_css">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main_card_form">
          <div class="main_header">
            <div class="header_title">
              <div>{{currentUrl == 'users' ? 'All Users' : currentUrl == 'leads' || currentUrl == 'AllLeads' ? 'Leads' :
                ''}}
                <button *ngIf="currentUrl == 'leads'" class="btn btn-secondary" routerLink="/Sync/users"
                  style="float:right; color:#000; padding:2px; margin-bottom:2px;">
                  Back
                </button>
              </div>
            </div>
          </div>
          <div class="main_body main_card_height_scroll_withoutfooter">

            <div class="panelbody">
              <form [formGroup]="SearchForm" (ngSubmit)="SearchData()">
                <div class="row">

                  <div class="col-sm-3">
                    <label>Select Financial Year</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="Financial Year" [data]="SR_Session_Year"
                      formControlName="FinancialYear" [settings]="dropdownSettingsType"
                      (onSelect)="onItemSelect($event)" [(ngModel)]="financialYearVal"> </ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3">
                    <label>Select Date Range</label>
                    <input type="text" placeholder="Date OR Date-Range" class="form-control"
                      formControlName="DateOrDateRange" bsDaterangepicker [minDate]="minDate" [maxDate]="maxDate"
                      [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',isAnimated: true }">
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl == 'users'">
                    <label>Select User Type</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="User Type" [data]="User_Data"
                      formControlName="UserData" [settings]="dropdownSettingsType" (onSelect)="Selected_User($event)"
                      (onDeSelect)="Remove_User()"></ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl == 'users'">
                    <label>Select User</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="User" [data]="AllUsersData"
                      formControlName="AllUsers" [settings]="dropdownSettingsMultiselect"></ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl == 'leads' || currentUrl == 'AllLeads'">
                    <label>Select Policy Expire Days</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="Policy Expired In" [data]="Days_Data"
                      formControlName="Days_Data" [settings]="dropdownSettingsType" [(ngModel)]="Days_DataVal"></ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl == 'users' || currentUrl == 'AllLeads'">
                    <label>Select Plan</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="Plan" [data]="AllPlan"
                      formControlName="Plan" [settings]="dropdownSettingsMultiselect"></ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl == 'users'">
                    <label>Transaction Status</label>
                    <ng-multiselect-dropdown class="form-control" placeholder="Transaction" [data]="TransactionData"
                      formControlName="Transaction" [settings]="dropdownSettingsType"></ng-multiselect-dropdown>
                  </div>

                  <div class="col-sm-3" *ngIf="currentUrl != 'users'">
                    <label for="Request_type">Search</label>
                    <input type="text" class="form-control" placeholder="Search" formControlName="SearchVal">
                  </div>
                  <div class="col-sm-3" style="margin-top:24px;">
                    <input type="submit" class="btn btn-info" value="Search"> &nbsp;&nbsp;
                    <button (click)="ClearSearch()" type="button" class="btn btn-danger" value="Reset"> <i
                        class="fa fa-close"> </i> Reset</button>
                  </div>
                </div>
              </form>
            </div>

            <hr>

            <div class="box box-default" style="margin-bottom: 10px !important; margin-top: 0px !important ;">
              <div class="custom_table tables_layout_design">
                <table datatable [dtOptions]="dtOptions" class="row-border table" id="kt_datatable">
                  <thead>
                    <tr>
                      <th></th>
                    </tr>
                  </thead>
                </table>

                <!-- ======= Refer Table  =========-->
                <ul class="responsive-table">
                  <li class="table-row" *ngFor="let row of dataAr; let i = index;">

                    <p class="life_status_label" *ngIf="row.policyStatus == 1 && (currentUrl == 'leads' || currentUrl == 'AllLeads')">
                      <span>

                          <a>
                              <span class="label label-warning">
                                  Policy Expiery IN - {{row.policyExpireIn}}
                              </span>
                          </a>
                          

                      </span>
                   </p>

                   <p class="life_status_label" *ngIf="row.policyStatus == 0 && (currentUrl == 'leads' || currentUrl == 'AllLeads')">
                    <span>

                        <a>
                            <span class="label label-danger">
                              {{row.policyExpireIn}}
                            </span>
                        </a>
                        

                    </span>
                 </p>

                    <div class="d_flex w_100 flex_Equal px_10  flex_colum_sm mt15">
                      <div class="agents_data agents_data1">
                        <div class="icon_re_cl">{{row.sno}}</div>
                        <div class="agent_name_mobile">
                          <div class="agent_data">
                            <strong class="fs_18 text-bold">{{currentUrl == 'users' ? row.name +'-'+ row.userId :
                              currentUrl == 'leads' || currentUrl == 'AllLeads'? row.contactName : ''}}</strong>
                          </div>
                          <strong *ngIf="currentUrl == 'AllLeads'">{{row.planId}}</strong>
                        </div>
                      </div>

                      <div class="agents_data agents_data2">
                        <div class="agent_name_mobile">
                          <div class="agent_data" *ngIf="currentUrl == 'leads' || currentUrl == 'AllLeads'">
                            <div> Mobile </div>
                            <strong>
                              {{row.contactMobile}}
                            </strong>
                          </div>
                        </div>
                      </div>

                      <div class="agent_name_mobile" style="position: relative; left: -5%; width: 600px;">

                        <div class="agent_data" *ngIf="currentUrl == 'users'">
                          <strong>
                            Plan Purchased -
                            {{row.planPurchasedDate | date : 'dd-MM-yyyy'}}
                          </strong>
                        </div>

                        <div class="agent_data"
                          *ngIf="(currentUrl == 'leads' || currentUrl == 'AllLeads') && row.customerName != ''">
                          <strong>
                            Customer Name -
                            {{row.customerName}}
                          </strong>
                        </div>
                        <div class="agent_data"
                          *ngIf="(currentUrl == 'leads' || currentUrl == 'AllLeads') && row.customerMobile != ''">
                          <strong>
                            Customer Mobile -
                            {{row.customerMobile}}
                          </strong>
                        </div>
                        <div class="agent_data"
                          *ngIf="(currentUrl == 'leads' || currentUrl == 'AllLeads') && row.customerEmail != '' ">
                          <strong>
                            Customer Email -
                            {{row.customerEmail}}
                          </strong>
                        </div>
                      </div>

                      <div class="agents_data agents_data3">
                        <div class="agent_name_mobile">
                          <div class="agent_data" *ngIf="currentUrl == 'users'">
                            <button type="button" class="btn btn-success"
                              (click)="ViewLeads(row.planKey , row.user , row.usertype)">
                              Details
                            </button>
                          </div>

                          <div class="agent_data"
                            *ngIf="(currentUrl == 'leads' || currentUrl == 'AllLeads')  && row.regYear != ''">
                            <strong style="color:#000;">
                              Registration Year -
                              {{row.regYear}}
                            </strong>
                          </div>

                          <div class="agent_data"
                            *ngIf="(currentUrl == 'leads' || currentUrl == 'AllLeads') && row.registrationDate != ''">
                            <strong style="color:#000;">
                              Registration Date -
                              {{row.registrationDate | date : 'dd-MM-yyyy'}}
                            </strong>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="last_row_div mt10" style="margin-top:10px;">
                      <div class="d_flex custon-234">
                        <div class="label_chips finance_lob" style="width: auto;">
                          <span>{{currentUrl == 'users' ? 'Total Contact Synced' : currentUrl == 'leads' || currentUrl
                            == 'AllLeads' ? 'Registration No.' : ''}} - {{currentUrl == 'users' ? row.totalSynced :
                            currentUrl == 'leads' || currentUrl == 'AllLeads' ? row.registrationNo : ''}}</span>
                        </div>

                        <div class="label_chips non_motor_lob" style="width: auto;"
                          *ngIf="currentUrl == 'leads' || currentUrl == 'users' || currentUrl == 'AllLeads'">
                          <span>{{currentUrl == 'leads' || currentUrl == 'AllLeads' ? 'Make' : currentUrl == 'users' ?
                            'Amount' : ''}} - {{currentUrl == 'leads' || currentUrl == 'AllLeads' ? row.make :
                            currentUrl == 'users' ? row.amount : ''}}</span>&nbsp;&nbsp;
                        </div>


                        <div class="label_chips health_lob" style="width: auto;">
                          <span>{{currentUrl == 'users' ? 'Plan Id' : currentUrl == 'leads' || currentUrl == 'AllLeads'
                            ? 'Model' : ''}} - {{currentUrl == 'users' ? row.planId : currentUrl == 'leads' ||
                            currentUrl == 'AllLeads' ? row.model : ''}}</span>&nbsp;&nbsp;
                        </div>

                        <div class="label_chips life_lob" style="width: auto;">
                          <span>{{currentUrl == 'users' ? 'Payment Mode' : currentUrl == 'leads' || currentUrl ==
                            'AllLeads' ? 'Variant' : ''}} - {{currentUrl == 'users' ? row.paymentMode : currentUrl ==
                            'leads' || currentUrl == 'AllLeads' ? row.variant : ''}}</span>&nbsp;&nbsp;
                        </div>
                        <div class="label_chips motor_lob" style="width: auto;"
                          *ngIf=" currentUrl == 'leads'  || currentUrl == 'AllLeads'">
                          <span>{{ currentUrl == 'leads' || currentUrl == 'AllLeads' ? 'Fuel Type' : ''}} - {{currentUrl
                            == 'leads' || currentUrl == 'AllLeads' ? row.fuelType : ''}}</span>&nbsp;&nbsp;
                        </div>

                        <div class="label_chips finance_lob" style="width: auto;"
                          *ngIf=" currentUrl == 'leads'  || currentUrl == 'AllLeads'">
                          <span>Vechile Type - {{row.vechileType}}</span>
                        </div>


                      </div>
                    </div>

                    <div class="last_row" *ngIf="currentUrl == 'leads' || currentUrl == 'AllLeads'">
                      <div class="d_flex effective_date">
                        <div style="margin-right: 80px;">Policy Expiry Date : {{row.policyExpieryDate | date :
                          'dd-MM-yyyy'}}</div>
                        <div style="margin-right: 80px;">Lead Synced : {{row.leadSync | date : 'dd-MM-yyyy'}}</div>
                        <div>Previous Insurer : {{row.PreviousInsurar}}</div>
                      </div>
                    </div>

                  </li>
                </ul>
                <!--======= Refer Table END ========= -->

                <div class="row" *ngIf="dataAr?.length == 0">
                  <div class="col-md-12">
                    <div class="no_data_found">
                      <span><img src="assets/image/no_data_banner.jpg"></span>
                      <small>No data available !</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>