.btn-box-tool {
  padding: 5px 10px;
  font-size: 18px;
  background: #0075bb;
  color: #ffffff;
}

.xyz {
  margin-bottom: 13px;
}


.remark{
  margin-top: 13px;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
  display: inline-block;
  font-size: 22px;
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

.ImageUploaded{
  background-color:green;
  color:white;
}

.form-blog-top {
  box-shadow: 1px 1px 10px #0000000d;
  padding: 10px 10px;
  margin-bottom: 25px;
  border: 1px solid #0000002b;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  max-width: 100% !important;
}

.col-sm-4 {
  margin-bottom: 8px !important;
}