
.nav-tabs li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active> {
	color: #000;
	cursor: default;
	background-color: #ecf0f5;
	border: 1px solid #ecf0f5;
	border-bottom-color: transparent;
	border-radius: 0;
	border-bottom: 2px solid #00c0ef;
}
.table-responsive {
	min-height: .01%;
	overflow-x: auto;
	background: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #337ab7;
	background-color: #ecf0f5;
	border-bottom: 3px solid #2cb2b3;
	border-top: inherit;
	margin-bottom: 15px;
}
.tabs-marker .nav-link.active .marker {
	height: 30px;
	width: 30px;
	left: 50%;
	bottom: -30px;
	transform: translatex(-50%);
	position: absolute;
	overflow: hidden;
}
.nav-justified>li {
	display: table-cell;
	width: auto;
}
.services-block-three {
 margin-bottom: 30px;
}
.services-block-three i {
    font-size: 32px;
}
.services-block-three>a {
    display: block;
    border: 2px solid #d5d5d5;
    border-radius: 4px;
    text-align: center;
    background: #fff;
    padding: 5px;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #2cb2b347;
    height: 125px;

}
.services-block-three>a:before {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-bottom: 3px solid #03a9f5;
    border-right: 3px solid #03a9f5;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
}
.services-block-three>a:after {
    display: block;
    content: "";
	width: 9%;
	height: 17%;
	position: absolute;
	top: -2px;
	left: -2px;
	border-top: 3px solid #03a9f5;
	border-left: 3px solid #03a9f5;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.padding-15px-bottom {
	padding-bottom: 15px;
}
.services-block-three h4 {
	color: #6f6f6f;
	font-size: 20px;
	font-weight: 600;
	margin: 0;
}
.services-block-three p {
	margin-bottom: 0;
	color: #757575;
}
.services-block-three>a:hover {
	opacity: 1;
	border-color: #d5d5d5;
}
a:hover, a:active {
	color: #03a9f5;
	text-decoration: none;
}
.services-block-three>a:hover:before, .services-block-three>a:hover:after {
	width: 95%;
	height: 90%;
}
.uprenewal h2 {
	font-size: 18px;
	font-weight: 500;
	color: #4a4a4a;
	margin-bottom: 15px;
}
.tabs-blog {
	background: white;
	padding: 5px;
	box-shadow: 0px 0px 10px #00000047;
}