<section class="inner_page_css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_card_form">
                    <div class="main_header">
                        <div class="header_title">EVM Leads</div>
                    </div>
                    <div class="main_body main_card_height_scroll_withoutfooter">
  
                        
                        <div class=" mydiv table-responsive">
                           <!-- table  --> 
                           <table datatable [dtOptions]="dtOptions" id="Table1" style="width: 100%;"
                           class="table table-bordered table-hover">
                         <thead>
                           <tr>
                             <th>S.No</th>
                             <th>Mobile</th> 
                             <th>Add Stamp</th>
                           </tr>
                         </thead>
       
                         <tbody *ngIf="dataAr?.length != 0">
                           <tr *ngFor="let row of dataAr">
                             <td>{{row.SrNo}}.</td>
                             <td>
                              <span class="link user"
                              [ngClass]="row.verified == '1' ? 'verified' : 'unverified'"
                              [attr.data-tooltip]="row.verified == '1' ? 'Verified User' : 'Unverified User'"></span>
                              {{row.mobile}}

                             </td>
                             <td>{{row.add_stamp}}</td>
                          
                             <!-- <td> --> 
                               <!-- <label class="label label-info"
                               routerLink="/WebsiteSection/products/edit_insurance_company/{{row.Id}}">Edit</label>&nbsp; -->
       
                               <!-- <label class="label label-danger"
                                 (click)="DeleteRequest(row.Id, row.delete_status)">Delete</label> -->
         
                                 <!-- <label class="label label-success" *ngIf="row.Status == 1"
                                 (click)="ActiveInactive(row.Id, 0, 'web_dynamic_quote_company')">Active</label>
         
                               <label class="label label-danger" *ngIf="row.Status == 0"
                                 (click)="ActiveInactive(row.Id, 1, 'web_dynamic_quote_company')">In-Active</label> --> 
                             <!-- </td> --> 
                           </tr>
                         </tbody> 
                         <tbody *ngIf="dataAr?.length == 0">
                           <tr>
                             <td colspan="14" align="center">No data available!</td>
                           </tr>
                         <tbody>
                       </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  