<!--begin::Content-->

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4  subheader-transparent " id="kt_subheader">
		<div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">

				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-2 mr-5">BBR Report </h5>
					<!--end::Page Title-->

					<!--begin::Breadcrumb-->
					<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
						<li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> brokerage </a> </li>
						<li class="breadcrumb-item"> <a href="javascript:;" class="text-muted"> bbr-report</a> </li>
					</ul>
					<!--end::Breadcrumb-->
				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->

			<!--begin::Toolbar-->

			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->

	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class=" container ">
			<!--begin::Notice-->

			<!--begin::Card-->
			<div class="card card-custom">

				<div class="card-body">
					<table>
						<tr>
							<th>Type</th>
							<th>Booked</th>
							<th>Un-Booked</th>
							<th>Cancelled</th>
							<th>Total</th>
						</tr>
						<tr>
							<td>SR</td>
							<td>{{TotalBookedSR}}</td>
							<td>{{TotalUnBookedSR}}</td>
							<td>{{TotalCancelledSR}}</td>
							<td>{{TotalSR}}</td>
						</tr>

						<tr>
							<td>Business</td>
							<td>{{TotalBookedPremium}}</td>
							<td>{{TotalUnBookedPremium}}</td>
							<td>{{TotalCancelledNetPremium}}</td>
							<td>{{TotalNetPremium}}</td>
						</tr>

						<tr>
							<td>Revenue</td>
							<td>{{TotalBookedRevenue}}</td>
							<td>{{TotalUnBookedRevenue}}</td>
							<td>{{TotalCancelledRevenue}}</td>
							<td>{{TotalRevenue}}</td>
						</tr>

					</table>

					<hr>


					<form *ngIf="checkedList?.length==0" [formGroup]="SearchForm" (ngSubmit)="SearchBtn()">
						<div class="row">
							<div class="col-sm-4">
								<ng-multiselect-dropdown class="form-control" name="Emp_Id"
									placeholder="Select Vertical" [data]="Vertical_Ar" formControlName="Vertical_Id"
									[settings]="dropdownSettings" (onSelect)="onItemSelect($event,'Vertical')"
									(onDeSelect)="onItemDeSelect($event, 'Vertical')"></ng-multiselect-dropdown>
								<span *ngIf="isSubmitted && FC.Vertical_Id.errors" class="form-text text-muted">
									<span *ngIf="FC.Vertical_Id.errors.required" style="color:red;">Please choose
										vertical !</span>
								</span>
							</div>

							<!-- <select (change)="GetEmployees()"  formControlName="Vertical_Id" class="form-control">
		<option disabled selected value="0">Select Vertical</option>

		<option *ngFor="let r of Vertical_Ar;" value="{{r.Id}}">{{r.Name}}</option>
	</select> -->

							<div class="col-sm-4">
								<select (change)="GetSubBranches($event)" formControlName="Region_Id"
									class="form-control">
									<option value="0">Select Region</option>
									<option value="0">None</option>
									<option *ngFor="let r of Region_Ar;" value="{{r.id}}">{{r.text}}</option>
								</select>
							</div>

							<div class="col-sm-4">
								<select (change)="GetEmployees()" formControlName="Sub_Region_Id" class="form-control">
									<option value="0">Select Region-Branch</option>
									<option value="0">None</option>
									<option *ngFor="let r of Sub_Branch_Ar;" value="{{r.id}}">{{r.text}}</option>
								</select>
							</div>

						</div>

						<div class="row"  >
							<div class="col-sm-6">
								<ng-multiselect-dropdown class="form-control" name="Emp_Id"
									[placeholder]="Employee_Placeholder" [data]="Emps_Ar" formControlName="Emp_Id"
									[settings]="dropdownSettingsEmployee" (onSelect)="onItemSelect($event,'Employee')"
									(onDeSelect)="onItemDeSelect($event,'Employee')"></ng-multiselect-dropdown>
							</div>

							<div class="col-sm-6">
								<ng-multiselect-dropdown class="form-control" name="Agent_Id"
									[placeholder]="Agents_Placeholder" [data]="Agents_Ar" formControlName="Agent_Id"
									[settings]="AgentdropdownSettings">
								</ng-multiselect-dropdown>
							</div>
						</div>

						<div class="row"  >
							<div class="col-sm-2">
								<ng-multiselect-dropdown class="form-control" name="SRLOB" placeholder="Select LOB"
									[data]="SRLOB_Ar" formControlName="SRLOB" [settings]="LOB_dropdownSettings"
									(onSelect)="onItemSelect($event,'LOB')"
									(onDeSelect)="onItemDeSelect($event,'LOB')"></ng-multiselect-dropdown>
							</div>

							<div class="col-sm-4">
								<ng-multiselect-dropdown class="form-control" name="Product_Id"
									placeholder="Select Product" [data]="Products_Ar" formControlName="Product_Id"
									[settings]="dropdownSettings">
								</ng-multiselect-dropdown>
							</div>

							<div class="col-sm-4">
								<ng-multiselect-dropdown class="form-control" name="Company_Id"
									placeholder="Select Ins Company" [data]="Companies_Ar" formControlName="Company_Id"
									[settings]="dropdownSettings"></ng-multiselect-dropdown>
							</div>

							<div class="col-sm-2">
								<ng-multiselect-dropdown class="form-control" name="SRStatus"
									placeholder="Select SR Status" [data]="SRStatus_Ar" formControlName="SRStatus"
									[settings]="SR_StatusDropdownSettings"></ng-multiselect-dropdown>
								<span *ngIf="isSubmitted && FC.SRStatus.errors" class="form-text text-muted">
									<span *ngIf="FC.SRStatus.errors.required" style="color:red;">Please choose business
										type!</span>
								</span>
							</div>
						</div>

						<div class="row"  >
							<div class="col-sm-2">
								<ng-multiselect-dropdown class="form-control" name="SR_Source_Type"
									placeholder="Select Source" [data]="SRSource_Ar" formControlName="SR_Source_Type"
									[settings]="LOB_dropdownSettings" (onSelect)="onItemSelect($event,'Source')">
								</ng-multiselect-dropdown>
							</div>

							<div class="col-sm-2">
								<ng-multiselect-dropdown class="form-control" name="SR_Payout_Mode"
									placeholder="Select PO-Mode" [data]="SR_Payout_Mode_Ar"
									formControlName="SR_Payout_Mode" [settings]="LOB_dropdownSettings"
									(onSelect)="onItemSelect($event,'SR_Payout_Mode')">
								</ng-multiselect-dropdown>
							</div>

							<div class="col-sm-3">
								<ng-multiselect-dropdown class="form-control" name="SR_Posting_Status"
									placeholder="Select Posting-Status" [data]="SR_Posting_Status_Ar"
									formControlName="SR_Posting_Status" [settings]="LOB_dropdownSettings"
									(onSelect)="onItemSelect($event,'SR_Posting_Status')"> </ng-multiselect-dropdown>
								<span *ngIf="isSubmitted && FC.SR_Posting_Status.errors" class="form-text text-muted">
									<span *ngIf="FC.SR_Posting_Status.errors.required" style="color:red;">Please choose
										posting options !</span>
								</span>
							</div>

							<div class="col-sm-2">
								<select (change)="GetMonthWeeks($event)" formControlName="Business_Month"
									class="form-control">
									<option selected disabled value=''>Select Month</option>
									<option *ngFor="let m of Bussiness_Months_Ar;" value="{{m.Id}}">{{m.Name}}</option>
								</select>

								<span *ngIf="isSubmitted && FC.Business_Month.errors" class="form-text text-muted">
									<span *ngIf="FC.Business_Month.errors.required" style="color:red;">Please select an
										option !</span>
								</span>
							</div>

							<div class="col-sm-3">
								<input type="text" placeholder="Select Date OR Date-Range" class="form-control"
									formControlName="DateOrDateRange" [minDate]="minDate" [maxDate]="maxDate"
									bsDaterangepicker [bsConfig]="{dateInputFormat: 'DD-MM-YYYY',isAnimated: true }">
								<span *ngIf="isSubmitted && FC.DateOrDateRange.errors" class="form-text text-muted">
									<span *ngIf="FC.DateOrDateRange.errors.required" style="color:red;">Please choose
										Date or Date-Range!</span>
								</span>
							</div>
						</div>

						<div class="row"  >
							<div class="col-sm-6"></div>
							<div class="col-sm-6" style="text-align: right;">
								<input *ngIf="(Is_Export==1)" (click)="ExportExcel()" type="button"
									class="btn btn-success" value="Export">
								&nbsp;&nbsp;
								<input type="submit" class="btn btn-info" value="Search">
								&nbsp;&nbsp;
								<button (click)="ClearSearch()" type="button" style="font-size: small;"
									class="btn btn-danger" value="Reset"> <i class="fa fa-close"> Reset</i> </button>
							</div>
						</div>
					</form>

					<div *ngIf="checkedList?.length>0" class="row"  >
						<div class="col-sm-3">
							<input type="button" (click)="SendBBR()" class="btn btn-info" value="Send Mail">
							&nbsp;&nbsp;
							<input (click)="Cancel()" type="button" class="btn btn-danger" value="Cancel">
						</div>
					</div>
					<hr>
					<hr>

					<!--begin: Datatable-->
					<div style="">
						<table datatable [dtOptions]="dtOptions"
							class="row-border hover table table-bordered table-hover table-checkable table-responsive"
							id="kt_datatable" style="margin-top: 13px !important">
							<thead>
								<tr>
									<th>No</th>
									<th><input [(ngModel)]="masterSelected" name="list_name" value="m1"
											(change)="checkUncheckAll()" type="checkbox">
									</th>

									<th>Action</th>
									<th>Posting-Status</th>
									<th>CreateDate</th>
									<th>BookingDate</th>
									<th>Current/User Status</th>
									<th>SRCreateUser</th>
									<th>Remark</th>

									<th>Source</th>
									<th>S.No</th>

									<th>LOB</th>
									<th>PaymentTowards</th>
									<th>PaymentMode</th>
									<th>RegistrationNo</th>
									<th>GrossPremium</th>
									<th>File Type</th>
									<th>Customer Name</th>
									<th>Agent</th>
									<th>RM</th>

									<th>UW</th>
									<th>OPS</th>
									<th>Account</th>



								</tr>
							</thead>
							<tbody *ngIf="dataAr?.length != 0">
								<tr *ngFor="let row of dataAr; let i=index;">
									<td>{{ row.SrNo }}.</td>

									<td><!--{{row.SrNo}}.-->

										<input type="checkbox" [(ngModel)]="row.isSelected" name="list_name"
											value="{{row.Id}}" (change)="isAllSelected()">

									</td>


									<td>


										<a title="SR-Actions" href="javascript:;" (click)="Actions(row.Id)">
											<span style="margin-bottom: 5px;"
												class="label label-info label-inline mr-2">Details</span>
										</a>

										<a *ngIf="( row.Status=='1') && (UserRights['Is_SR_Edit'] == '1') && (row.Posting_Status == '0' || row.Posting_Status == '2' || row.Posting_Status == '4')  "
											title="SR-Edit" href="javascript:;" (click)="EditSR(row.Id)">
											<span style="margin-bottom: 5px;width:100%;"
												class="label label-danger label-inline mr-2">Edit-SR</span>
										</a>


										<a href="javascript:;" (click)="EditPayout(row.Id,i)"
											*ngIf="(UserRights['Is_SR_Edit'] == '1') && (row.Posting_Status == '0' || row.Posting_Status == '2' || row.Posting_Status == '4')">
											<span style="margin-bottom: 5px; width:100%;"
												*ngIf="row.Payout_Custom_Update == '0'"
												class="label label-danger label-inline mr-2">Edit-PO</span>
											<span style="margin-bottom: 5px; width:100%;"
												*ngIf="row.Payout_Custom_Update == '1'"
												class="label label-warning label-inline mr-2">Re-Edit PO</span>
										</a>


										<a *ngIf="row.Status=='1'" title="SR-Actions" href="javascript:;"
											(click)="CancelSR(row.Id,row.SR_No)">
											<span class="label label-warning label-inline mr-2">Cancel</span>
										</a>

										<a *ngIf="row.Status=='0'" title="SR-Actions" href="javascript:;">
											<span class="label label-danger label-inline mr-2">Cancelled</span>
										</a>

									</td>


									<td>

										<span *ngIf="row.Posting_Status == '0'"
											class="label label-warning label-inline mr-2">PendingForPosting</span>
										<span *ngIf="row.Posting_Status == '1'"
											class="label label-default label-inline mr-2">PendingForAccounts</span>
										<span *ngIf="row.Posting_Status == '2'"
											class="label label-danger label-inline mr-2">RejectByAccounts</span>
										<span *ngIf="row.Posting_Status == '3'"
											class="label label-primary label-inline mr-2">PendingForBanking</span>
										<span *ngIf="row.Posting_Status == '4'"
											class="label label-danger label-inline mr-2">RejectByBanking</span>
										<span *ngIf="row.Posting_Status == '5'"
											class="label label-info label-inline mr-2">Approved</span>
										<span *ngIf="row.Posting_Status == '6'"
											class="label label-success label-inline mr-2">Paid/PayoutTransfered</span>

										<!--<table *ngIf="row.Posting_Status == '6'" style="font-size: 12px;" class="PayoutTable">
						<tr>
							<th>Status</th>
							<th>UTR No</th>
							<th>Transfer Date</th>
						</tr>

						<tr>
							<td><span class="label label-success label-inline mr-2">Paid/PayoutTransfered</span></td>
							<td>{{row.UTR_No}}</td>
							<td>{{row.UTR_Update_Date}}</td>


						</tr>
				  </table>-->

									</td>


									<td>{{ row.Add_Stamp }}</td>
									<td>{{ row.Booking_Date }}</td>
									<td>
										<span>{{ row.CurrentSrUserName }}</span>
										<span class="label label-info label-inline mr-2">{{ row.SR_Current_Status
											}}</span>
									</td>

									<td>{{ row.SRCreateUser }}</td>
									<td>{{ row.SR_Remark }}</td>


									<td>{{ row.Source }}</td>
									<td>{{ row.SR_No }}</td>
									<td>{{ row.LOB_Name }}</td>

									<td>{{ row.Payment_Towards }}</td>
									<td>{{ row.Mode_Of_Payment }}</td>
									<td>{{ row.Registration_No }}</td>
									<td>{{ row.Estimated_Gross_Premium }}</td>

									<td>{{ row.File_Type }}</td>
									<td>{{ row.Customer_Name }}</td>


									<td>{{ row.Agent_Name }}</td>
									<td>{{ row.RM_Name }}</td>

									<td><span *ngIf="row.UW_Name">{{ row.UW_Name }}</span></td>
									<td><span *ngIf="row.Operation_Name">{{ row.Operation_Name }}</span></td>
									<td><span *ngIf="row.Account_Name">{{ row.Account_Name }}</span></td>


								</tr>
							</tbody>
							<tbody *ngIf="dataAr?.length == 0">
								<tr>
									<td colspan="15" align="center">No data available !</td>
								</tr>
							<tbody>
						</table>
					</div>

					<!--end: Datatable-->
				</div>
			</div>
			<!--end::Card-->
		</div>

		<!--end::Container-->


	</div>
	<!--end::Entry-->
</div>
<!--end::Content-->