<section class="inner_page_css">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="main_card_form">
                    <div class="main_header">
                        <div class="header_title">Assets Management</div>
                    </div>
                    <div class="main_body main_card_height_scroll_withoutfooter">
                        <app-square-filter (postCreated)="SearchData($event)"></app-square-filter>

                        <hr>
                        
                        <div class=" mydiv table-responsive">
                            <!-- table  -->
                            <table datatable [dtOptions]="dtOptions" id="Table1" style="width: 100%;"
                                class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Assest Id</th>
                                        <th>Name</th>
                                        <th>Requirement</th>
                                        <!-- <th>Items</th> -->
                                        <th>Add Stamp</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="dataAr?.length != 0">
                                    <tr *ngFor="let row of dataAr">
                                        <td>{{row.SrNo}}.</td>
                                        <td>{{row.AssestId}}</td>
                                        <td>{{row.Name}}</td>
                                        <td>{{row.Category}}</td>
                                        <!-- <td>{{row.Item}}</td> -->
                                        <td>{{row.Create_date}}</td>
                                        <td><a (click)="ForApproval(row.id,row.status_check,row.CategoryId)"><label
                                                    class="label label-info btn">Details</label></a> &nbsp;&nbsp;
                                            &nbsp;

                                            <button style="margin-top:4px;" type="button"
                                                *ngIf=" (row.status_check == '3' && currentUrl == '/assest-manegment/assest-maneger' && row.ManegerId == '')"
                                                (click)="AcceptAssignQuote(row.AssestId)"
                                                class="label label-warning">Accept</button>

                                            <button style="margin-top:4px;" type="button"
                                                *ngIf=" (row.status_check == '4' && currentUrl == '/assest-manegment/assest-distributor' && row.DistributorId == '')"
                                                (click)="AcceptAssignQuote(row.AssestId)"
                                                class="label label-info">Accept</button>

                                            <label *ngIf="row.status_check == '0'"
                                                class="label label-danger label-inline mr-2">Rejected
                                            </label>
                                            <label *ngIf="row.status_check == '1'"
                                                class="label label-warning label-inline mr-2">Pending For
                                                RM</label>

                                            <label *ngIf="row.status_check == '2'"
                                                class="label label-warning label-inline mr-2">Pending For
                                                HOD</label>
                                            <label *ngIf="row.status_check == '3'"
                                                class="label label-warning label-inline mr-2">Pending For
                                                Manager</label>
                                            <label *ngIf="row.status_check == '4'"
                                                class="label label-success label-inline mr-2">Pending For
                                                Distributor</label>
                                            <label *ngIf="row.status_check == '5'"
                                                class="label label-success label-inline mr-2">Pending For
                                                Requester</label>
                                            <label *ngIf="row.status_check == '6'"
                                                class="label label-success label-inline mr-2">Item Delivered</label>

                                        </td>

                                    </tr>
                                </tbody>
                                <tbody *ngIf="dataAr?.length == 0">
                                    <tr>
                                        <td colspan="14" align="center">No data available!</td>
                                    </tr>
                                <tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>