<div class="table-responsive mydiv">

<div class="row">
  <div class="col-sm-4">
    <h1 class="heading_popup">Employee List</h1>
  </div>

  <button (click)="CloseModel()" type="button" class="close closeModelButton">&times;</button>

</div>

  <table datatable [dtOptions]="dtOptions" id="Table1" class="table table-bordered table-hover">

    <thead>
      <tr>
        <th style="text-align:center;">S.No</th>
        <th style="text-align:center;">REID</th>
        <th style="text-align:center;">Employee&nbsp;Code</th>
        <th style="text-align:center;">Name</th>
        <th style="text-align:center;">DOB</th>
        <th style="text-align:center;">DOJ</th>
        <th style="text-align:center;">Gender</th>
        <th style="text-align:center;">Age</th>
        <th style="text-align:center;">Designation</th>
        <th style="text-align:center;">Sum&nbsp;Assured</th>
        <th style="text-align:center;">CTC&nbsp;/&nbsp;AnnualSalary</th>
      </tr>
    </thead>

    <tbody *ngIf="dataAr?.length != 0">
      <tr *ngFor="let row of dataAr; let i=index;">

         <td>{{ row.SNo }}</td>

         <td>{{ row.REID }}</td>
         <td>{{ row.Employee_Code }}</td>
         <td>{{ row.Name }}</td>
         <td>{{ row.DOB }}</td>
         <td>{{ row.DOJ }}</td>
         <td>{{ row.Gender }}</td>
         <td>{{ row.Age }}</td>
         <td>{{ row.Designation }}</td>
         <td>{{ row.Sum_Assured }}</td>
         <td>{{ row.CTC }}</td>
      </tr>
    </tbody>

    <tbody *ngIf="dataAr?.length == 0">
      <tr>
        <td colspan="11" align="center">No data Available !</td>
      </tr>
    <tbody>
 </table>
</div>